[2020-12-11 14:59] aproposnix opened #1 "App name is the same as the official Nextcloud News App"
You should really consider renaming the app. It's got the same name as the official Nextcloud News app "News". Very confusing.

[2020-12-11 15:44] bubelov commented on #1
@aproposnix renaming to what? That's the Android client for the News web app, it would be confusing to name it otherwise. I'll add a note to the app description and I'll think on other ways to make it more distinctive (maybe changing the logo background color, or something like that).

[2020-12-11 19:31] aproposnix commented on #1
Some ideas for names... putting on my marketing cap now (never said i was good at marketing though :)

* Newsbie
* NewsPod
* RSSpod
* NextNews
* NextPod
* Newscaster
* Nextcaster
* Newszilla
* Podzilla

Ok... I'm running out of ideas. I just think distinguishing projects helps both of them.

[2020-12-17 22:57] jancborchardt commented on #1
Hi from Nextcloud @bubelov, nice work! :)

On our Nextcloud Talk instance we have channels for the various apps so contributors can chat with each other – we also e.g. have channels for the News app team (web app as well as mobile apps) and for our Mobile apps too. I can add you there with a guest account if you like?

[2020-12-18 13:39] Antoine-Derouin opened #2 "Feedback"
Hello, thank you for the app.
I tested it quickly, although minimalist it does the job and above all it has a very nice material 2 style!

I just have a few comments on the points that disturbed me:

- Not being able to easily switch "Show opened news" from the "News" tab.
- Not being able to see the news of a single feed (including those already read)
- The swipe to right does not explicitly show

[2020-12-21 13:42] bubelov commented on #1
@jancborchardt hi! That would be nice, thanks! I also run my own instance (igor@cloud.bubelov.com) but I'm not sure how federation works and if it's possible to re-use an existing identity from another server so any option would work for me.

[2020-12-21 14:27] bubelov commented on #2
@Antoine-Derouin thanks for your feedback! Good points, I'll include all of these features in the next releases. The next one will be available in January (I'm on vacation now and the project is on hold till the new year).

[2020-12-25 19:54] anoadragon453 opened #3 "Add option to mark items as read after scrolling past them"
I have quite a lot of items in my news feed. Often I scroll past the ones I don't care to read. It'd be nice if there was an option that marked these items as read once I'd scroll past them, so I don't  see them the next time I open this app.

https://f-droid.org/packages/de.luhmer.owncloudnewsreader has a similar feature which I really appreciate.

Thanks for the app regardless! Love the design a

[2020-12-25 19:57] anoadragon453 opened #4 "Allow to reverse the order of news items"
Being able to read from the oldest items first is useful when having a feed with a lot of items. Otherwise the oldest ones just get buried by the new stuff!

Yet another feature from https://f-droid.org/packages/de.luhmer.owncloudnewsreader that I'd love to see here.

[2021-01-03 03:25] citizenserious opened #5 "Can't login with Nextcloud on Android 11"
Without GApps, with only the Nextcloud app from F-Droid there is no way to sign in. Error: Nextcloud Files App is not installed.
Login over the Files App works in the offical App for example.
It worked for me on Android 10 with OpenGApps

Nextcloud Files App 3.14.1
News: 0.2.2
Android 11

[2021-01-03 11:56] bubelov commented on #5
@citizenserious thanks for reporting this issue!

I don't think it has anything to do with Google because this app doesn't depend on Google services, but it could be related to https://github.com/nextcloud/Android-SingleSignOn/issues/277. This issue will be resolved sooner or later.

In the meantime, I'll enable "manual" login in the next release. It's not as convenient but it should make the app

[2021-01-03 13:10] bubelov opened #6 "Allow direct connections to Nextcloud"

[2021-01-03 14:20] bubelov commented on #5
@citizenserious I've included the manual login option in the latest release. It will probably take a few days to propagate to F-Droid. You can also install a dev APK and check if your issue has been resolved: https://github.com/bubelov/news/releases/tag/v0.2.3. Dev builds don't conflict with the release builds from F-Droid, so you can have both and use the dev build while waiting for the update.

[2021-01-03 14:22] bubelov opened #7 "Add internal podcast player"

[2021-01-03 16:45] citizenserious commented on #5
@bubelov Wow, thank you very much for the fast reply and workaround, the manual login works perfect (: Keep up the great work.

[2021-01-03 16:45] #5 closed

[2021-01-04 16:25] #6 closed

[2021-01-12 12:26] bubelov opened #8 "Add "show opened news" toggle to the main feed"

[2021-01-12 12:29] bubelov opened #9 "Add "view feed" screen"

[2021-01-12 12:32] bubelov opened #10 "Make it clear what swipe gestures do"

[2021-01-12 12:33] bubelov opened #11 "Allow to undo swipes"

[2021-01-12 12:36] bubelov commented on #2
Broken into separate issues #8 #9 #10 #11

[2021-01-12 12:36] #2 closed

[2021-01-12 12:41] #4 closed

[2021-01-12 14:33] bubelov opened #12 "Add global search"

[2021-01-12 14:43] #8 closed

[2021-01-13 07:28] bubelov opened #13 "Fetch read news during the initial sync"

[2021-01-13 08:30] bubelov opened #14 "Remove settings from bottom navigation"
I've been reading Material spec and I found the following recommendation:

https://material.io/components/bottom-navigation#usage

[2021-01-13 08:35] bubelov commented on #14
@Antoine-Derouin do you have any advice on that?

[2021-01-13 08:58] Antoine-Derouin commented on #14
In many apps, the settings button is in the burger menu.
But creating a burger just for this button is a really bad idea...

Can you offer several buttons?

Unread news
All News
Bookmark
Feeds
Settings

And put the burger in the header?

Or like TTRSS :
The burger opens a panel with the settings button, then a list of feed folders, and an "unread only" toggle.

[2021-01-13 13:16] #10 closed

[2021-01-13 16:56] #9 closed

[2021-01-14 06:14] bubelov commented on #14
@Antoine-Derouin thanks for the advice!

Just to clarify: do you mean the thing on the left or the thing on the right?

![Screenshot from 2021-01-14 13-08-34](https://user-images.githubusercontent.com/1189245/104551769-11cb7280-566a-11eb-99a5-6716b87ef9e7.png)

[2021-01-14 06:51] bubelov opened #15 "Allow to import and export OPML-formatted feeds"

[2021-01-14 08:35] Antoine-Derouin commented on #14
I'm talking about the left button.

I see the burger menu, with three lines like opening a general menu panel. (identical throughout the app)

.

The three little dot icon would make me think more about options specific to the current display. Like a context menu.

[2021-01-23 15:04] DanielSiepmann commented on #10
I'm using Android 9 on an Samsung and still don't have labels or info for swipe actions.
I've the recent version 0.2.4 of your app which includes https://github.com/bubelov/news/commit/dfa1b297d7d2e0b321a65f20de104b71b7bf8398.

Looks like "snackbar" does not work for whatever reason. I'm not a kotlin nor mobile dev, just a web dev, so I don't know how I might help you here :) But I would like to h

[2021-01-23 15:14] bubelov commented on #10
@DanielSiepmann are you sure it's 0.2.4? I released it 10 days ago but it seems like F-Droid didn't pick it up yet. You can try to download the dev APK directly from GitHub release page. It's not as fast as production builds but it works fine on my $95 Samsung =)

[2021-01-26 10:16] DanielSiepmann commented on #10
Thanks for responding.

At least f-droid tells I've installed 0.2.3 and that it was added 09.01.21.
The OS settings "App" entry states version 0.2.3 for the app.

As written before, I'm not an Android dev. Maybe the snackbar is not available for my Android version, or something else?

I'll try the GitHub APK.

I also added Screenshots (Sorry for German language)
![image](https://user-images.github

[2021-01-26 10:20] DanielSiepmann commented on #10
Works, sorry for disturbing :) And bad that f-droid takes so long to catch up.

[2021-01-26 14:37] #13 closed

[2021-02-01 18:28] #12 closed

[2021-02-03 11:55] eyand opened #16 "Nextcloud single sign-on doesn't work on Android 11"
I have Nextcloud installed via F-droid, but I'm prompted to install it from the Play Store before I can use the app.

[2021-02-03 12:15] bubelov commented on #16
Can be due to #5

[2021-02-03 22:00] DanielSiepmann commented on #7
I discovered that the app saves downloaded episodes. I've added the folder to VLC, which works like a charm.

Would be cool to just document the folder and "expose" it, so people can integrate into their existing apps and flows :)

I really appreciate I can see and download new episodes. But would not use the player, in addition to an existing general player. Of course other might want to :)

[2021-02-04 12:25] zynexiz commented on #3
Just found this app, and it looks loot nicer than the official app. But I have the same issue, have to read the item to get it marked as read. Might also suggest adding "Mark all read.." as an option to the feed and/or individual feeds to? Maybe even open a dialog to select articles older than like X day/week/month etc as read? :)

[2021-02-04 12:42] zynexiz opened #17 "Filter out certain entries based on customizable set of rules"
Just thought of a cool feature I actually never seen in any feed app as I know of. Some feeds might include topics I'm not very interested of (like sports), and it would be a nice feature to add some kind of "blacklist" filter that excludes topics containing certain keywords. It could then automatically mark then as read and don't add then to the feed.

There could also be a similar whitelist filt

[2021-02-04 16:42] bubelov commented on #17
@zynexiz I like this idea, I've been thinking about it too. I have a bunch of "verbose" feeds such as Hacker News (which also embed annoying ads) so it would be nice to be able to filter out some nasty entries.

Let's say we can start simple and add a rule like "if this entry contains string X, ignore it". It's a bit unclear whether we should have a single global blacklist or a set of unique "bad

[2021-02-04 17:06] bubelov commented on #7
@DanielSiepmann you've found a hidden feature =)

I like "cache transparency", although the app doesn't currently offer any cache management interface. As you can see, the cache structure is already human readable and every kind of content has it's own folder. File names are a bit of a mess though and it's all subject to changes. It's all in the works and I'll announce those features once they're

[2021-02-04 17:11] DanielSiepmann commented on #7
I really love your ideas and opinions.

I guess I've installed VLC from f droid. At least it's available there as well. But nevertheless it's a good idea to provide both ways. Everyone should be free to use his own way.

I'll be happy to see "official" cache structure once it's done. Changing the folder within VLC is pretty easy, so no big deal for my personal setup.

[2021-02-04 17:27] bubelov commented on #3
@zynexiz I've never thought of this use case, you must have a lot of feeds =)

So, you have the same issue as @anoadragon453 and auto-marking all of the visible items as "read" would solve it?

[2021-02-04 17:31] zynexiz commented on #17
I think a per feed list would be best, to avoid filtering out topics from other feeds that might match the word. I would have helped, but never coded Java and nothing on android so far, have it on my big todo list 😃

[2021-02-04 17:46] bubelov commented on #17
@zynexiz I didn't touch Java for about 4 years, it's all Kotlin now. Good riddance, Android only supports ancient versions of Java so Kotlin had really saved the day.

[2021-02-04 18:53] zynexiz commented on #3
@bubelov I have some, mostly some news stuff. But they tend to post lots of articles per day, can be up to 100 per day, but I mostly read like 10% of it. So much to do and so little time :) I still have NextCloud news installed so I can mark stuff as read.

[2021-02-04 19:12] zynexiz commented on #17
Ah, I will look into that one day. Taking courses at my university in CCNA, CCNP, cybersecurity and networking, so not much time over right now. Wish the day would be longer sometime :)

[2021-02-04 19:17] anoadragon453 commented on #3
I have a feed which shoots out turns out articles per day. But I like to skim the title of each one and read the interesting ones, even if they're 6mo old or whatnot. I don't think I'll ever get to the end to where I'd want to hit "Mark all read".

Instead, marking individual items as read as I scroll through them would be my preferred workflow.

[2021-02-05 22:56] BluePixel4k opened #18 "Open news directly in the Browser (optionally)"
Can you add an option in the settings, to open the news directly in the Browser?
Not all my news providers have a full-text feed.

And support for built-in Chrome-Tabs would be nice (chromium based browsers support this too).

[2021-02-06 11:16] BluePixel4k opened #19 "Variable background sync with notification"
Can you add a background auto sync feature?
A variable sync interval would be great.
For example: every hour, every three hours or every 12 hours.

And if there are new news, then a notification would be great.

[2021-02-06 15:59] bubelov commented on #19
@BluePixel4k yes, it will be added in the future. I'd like the app to update feeds and download podcasts automatically. Not a big fan of notifications though, but they can be disabled by default with the ability to opt-in in settings.

[2021-02-06 16:01] bubelov commented on #18
@BluePixel4k

Regarding browser: yes, sounds good

Regarding Chrome stuff: I have to look into it first. If it doesn't require any Google dependencies, I'll add it in future releases

[2021-02-08 19:50] zynexiz opened #20 "[BUG] Unable to remove bookmark"
I accidentally added a article to the bookmarks by swiping the article to the left (right?). And when i went to the bookmarks tab and tried to swipe it again, it just said added to bookmark again. When swiping in the bookmarks section, the result should be to remove it.

Might also suggest adding some kind of hint what will happen when starting to swipe, like most e-mail applications have. While s

[2021-02-08 19:56] zynexiz commented on #20
Found a image illustrating what I mean :)

![Swipe](http://tapsmart.wpengine.netdna-cdn.com/wp-content/uploads/2015/06/swipe-to-delete-911x1024.png)

[2021-02-08 20:20] bubelov commented on #20
@zynexiz it's a known issue. Partly fixed in #10 which is already live but, sadly, still not picked up by F-Droid. As for swipes in general, they weren't supposed to be allowed on favorites screen but then I decided to merge the controllers and forgot to disable swipes. It's already fixed in master and will be available with the next release.

[2021-02-08 20:33] zynexiz commented on #20
@bubelov Oh, how could I miss that one :)

Kinda resolved, so I close it.

[2021-02-08 20:33] #20 closed

[2021-02-08 22:39] #15 closed

[2021-02-08 23:28] #11 closed

[2021-02-09 10:58] BluePixel4k commented on #18
Thank you!
Regarding Chrome stuff, i think yes, because the official Nextcloud News App has the feature too.

[2021-02-09 12:38] BluePixel4k commented on #19
That sounds great, thanks!

[2021-02-09 12:50] BluePixel4k commented on #18
If it's possible, another option would also be great, where you can set for each feed individually whether it should always be opened in the browser or internally (for full text feeds).

[2021-02-09 20:05] cryptomilk commented on #19
I'm also interested in hourly sync and notifications :-)

[2021-02-09 22:59] Donkey-Doug opened #21 "Standalone mode bug"
Many feeds cause an error in News in standalone mode.

Examples:
1. http://www.theverge.com/rss/full.xml
2. http://www.nos.nl/nos/rss/nieuws.xml
3. https://www.youtube.com/feeds/videos.xml?channel_id=UCXuqSBlHAE6Xw-yeJA0Tunw

All lead to the same error: CLEARTEXT communication to <domain> not permitted by network security policy.

Here are the logs:

![1](https://user-images.githubusercontent.com/

[2021-02-09 23:04] Donkey-Doug opened #22 "Copy error text"
Make it possible to copy the text from the exceptions. Preferable add a button "copy text" next to the OK button.

[2021-02-10 11:53] zynexiz opened #23 "Unread count on feeds"
Noticed there is nowhere to see how may unread articles there are on one feed. My suggestion would be to add a small badge to the feed tab on each article to indicate the number of unread articles for that feed. Attached a screen shot how it might look :)

Also, I would love to help to translate the app to Swedish :)

![Screenshot](http://www.image-share.com/upload/4129/126.png)

[2021-02-10 15:23] bubelov commented on #21
@Donkey-Doug thanks for the detailed report. First two feeds are insecure so the app won't allow them. I added a special error message and a suggestion to use HTTPS to get those feeds added.

![Screenshot_1612969037](https://user-images.githubusercontent.com/1189245/107529189-3412ca80-6bed-11eb-9c0d-ffd44943f1bf.png)

[2021-02-10 15:27] bubelov commented on #21
@Donkey-Doug apart from that particular issue, standalone mode is untested and standalone parser is far from being complete. I wouldn't recommend do use it for now, unless you want to help with finding broken feeds. I found a few parsing issues with the feeds you sent and I'll add them to the test suite.

[2021-02-10 15:31] bubelov commented on #22
@Donkey-Doug makes sense. I'll add "share" button to each exception. That way, users will be able to share the stack trace to clipboard as well as to any other destination (maybe email, instant messaging apps and so on).

[2021-02-10 15:43] bubelov opened #24 "Add Swedish translation"
@zynexiz would your translation be understandable in all of the listed regions or only in Sweden?

![Screenshot from 2021-02-10 22-38-36](https://user-images.githubusercontent.com/1189245/107532968-04fe5800-6bf1-11eb-891d-ecf7621a6128.png)

[2021-02-10 15:45] bubelov commented on #23
@zynexiz yea, it's a planned feature. Let's keep this issue open so I won't forget to add it.

PS. Moved the translation questions to #24

[2021-02-10 20:28] Donkey-Doug opened #25 "Remove top bar"
The top bar currently does nothing. It only displays the text "news". I suggest entirely removing the bar. Having both a top and bottom bar is too cluttered in my opinion.

[2021-02-10 20:28] Donkey-Doug opened #26 "Hide bottom bar on scroll"
The bottom bar takes up quite same space. Make it possible to hide on scroll.

[2021-02-10 20:30] Donkey-Doug opened #27 "Layout options"
Make it possible to customize the layout. For example,

- Image on the left or right.
- Large card-style centered image with the headline either above or below the image.
- Large card-style centered image with the headline on top of the image. Add shadow around white text to remain readable.
- Change padding around images. Let the user choose vertical and horizontal padding. Make it possible for c

[2021-02-10 20:33] Donkey-Doug opened #28 "Mark all above/below as read"
Make it possible to mark all entries above or below a certein entry as read.

[2021-02-10 20:35] Donkey-Doug opened #29 "True black dark mode"
Please make it possible to use true black dark mode.

[2021-02-10 20:37] Donkey-Doug opened #30 "Remove scrollbar"
When scrolling through my feed, there is a scrollbar on the right side. I do not think this has a purpose and I would like to hide it.

[2021-02-12 20:52] zynexiz commented on #24
In Åland they speak Swedish as far as I know, many from Finland know Swedish to but Finnish language is completely different from Swedish otherwise.

[2021-02-12 21:02] zynexiz commented on #25
There are also some options there. Almost every android app has it, and contains  burger menu, options menu and other stuff.

[2021-02-12 22:12] bubelov commented on #24
@zynexiz great, I guess it could be a universal translation then. I've created a special "strings" file which you can translate (partly or fully):

https://github.com/bubelov/news/blob/master/app/src/main/res/values-sv/strings.xml

Feel free to change the English values to the Swedish ones, this file will only be used by devices with Swedish locale.

[2021-02-13 20:34] bubelov commented on #22
Implemented in https://github.com/bubelov/news/commit/01cf6e6db32955bc22ecb57518e59112361ffd5b

[2021-02-13 20:34] #22 closed

[2021-02-13 20:35] #21 closed

[2021-02-13 21:30] bubelov commented on #23
Implemented in https://github.com/bubelov/news/commit/77962aaf0f83026ea1f03c6afc128554edbc8827

[2021-02-13 21:30] #23 closed

[2021-02-15 08:36] zynexiz commented on #24
Sweet, I will take a look at it later today if there some time over from my studies :)

[2021-02-15 08:52] zynexiz commented on #24
Wasn't to many strings to translate, so it went pretty quick :)

[code]
<resources>
    <string name="app_name">Nyheter</string>
    <string name="login_with_nextcloud">Logga in med Nextcloud</string>
    <string name="post_image">Artikelbild</string>
    <string name="settings">Inställningar</string>
    <string name="news">Nyheter</string>
    <string name="show_opened_news">Visa lästa nyheter</

[2021-02-16 03:17] bubelov commented on #24
@zynexiz just merged your file, thanks!

FYI: You could also edit this file via GitHub web interface. It can create merge requests automatically so there is no need to download, edit and upload files. Might be easier and faster this way if you want to correct something or translate a new string.

[2021-02-16 03:17] #24 closed

[2021-02-17 13:05] bubelov commented on #3
Implemented in https://github.com/bubelov/news/commit/0aa7a9a97826b9623d11278a9489b5baf27e0a05

[2021-02-17 13:05] #3 closed

[2021-02-17 14:04] anoadragon453 commented on #3
Wonderful thank you!

[2021-02-19 20:49] fossdd opened #31 "Atom feeds"
I've tried to add the following feed: https://gitlab.com/fdroid/rfp/-/issues.atom?feed_token=gdoyU2ZstimRyxzcCh4P&state=opened

On new install, add the feed. Go to News page and refresh. Message comes: `Expected URL scheme: 'http' or 'https' but no colon found`. Go to feed section and `Open feed` crashes the app without a warning or so.

Other feeds like https://f-droid.org/feed.xml does work.

No

[2021-02-20 04:28] bubelov commented on #31
@fossdd it looks like this feed has a relative self-link:

[code]

It's unusual and makes parsing harder. I've modified the parser to ignore this tag if it doesn't have a protocol prefix. Instead, it will opt to user-provided URL.

Here is the patched version:

https://cloud.bubelov.com/s/nWASpmJpWBdYPfc

It will also be fixed in the next release. Please note that current F-Droid release is in fac

[2021-02-20 09:40] #31 closed

[2021-02-20 09:43] fossdd commented on #31
Oh okay,

F-Droid had some bugs in the build system. The versions `0.2.6` was all detected. But they sren't builded yet.

My NC account has A LOT of feeds, I have to clean up.. So the standalone mode was only "for testing".

Anyway, thanks for fixing!

[2021-02-20 10:05] bubelov commented on #31
@fossdd yes, standalone mode is still incomplete.

I've noticed that your feed URL has a token in it. I hope it's not private token with sensitive permissions, otherwise you should probably nuke it ASAP.

[2021-02-20 10:25] fossdd commented on #31
Yes, there aren't any private informations. But for private issues in GitLab. Anyway I revoked and reseted the token. Thanks. :P

20 Feb 2021, 10:05 by notifications@github.com:

[2021-02-22 01:27] Donkey-Doug opened #33 "Crash on import from OPML"
The app crashes when I try to import an OPML file. There is no exception log.

Version: 0.2.6

[2021-02-22 01:31] Donkey-Doug opened #34 "Delete entries older than ..."
Add an option to delete entries older than a certain amount of time. For example, delete all entries older than 1 day.

[2021-02-22 06:36] bubelov commented on #33
@Donkey-Doug could you provide that OPML file? Did it happen in standalone or NC mode?

[2021-02-22 06:44] bubelov commented on #34
@Donkey-Doug can you expand on what you are trying to achieve? Read entries are hidden by default and one of the new features in 0.2.7 is the ability to mark all of the items you scrolled in your news feed as read, automatically. Would it solve your issue or you're concerned about old news taking up your storage or something else?

[2021-02-22 10:36] Donkey-Doug commented on #34
Most news readers have such funcionality. It ensures there is no old content in my news reader. For example, if a user does not read the news on sunday, then he sees many items when he or she tries to read the news on monday.

The "mark when scrolled" feature is very welcome though.

[2021-02-22 10:40] Donkey-Doug commented on #33
Standalone mode.

OPML:

[2021-02-22 22:50] Donkey-Doug opened #35 "Consistent layout"
Currently there is a tab "feeds" in which a single feed can be added by URL. To add feeds using an OPML file, the user has to go to settings. I suggest bringing these functions together in the same screen/menu.

For example, see screenshot below:
![Screenshot_20210222-234705_NiceFeed_1](https://user-images.githubusercontent.com/50382414/108780451-bf367d80-7568-11eb-8084-a8b070e01251.png)

[2021-02-22 22:59] Donkey-Doug commented on #25
I use the app in standalone mode. For me it is only bar without any buttons

[2021-02-22 23:04] #25 closed

[2021-02-23 06:04] bubelov commented on #35
@Donkey-Doug good idea, noted. I'm planning to remove the settings tab (see #14) because it's against Material guidelines. It will probably be available via global side menu, but feed actions aren't really global so I'll move them to the feeds tab instead.

[2021-02-25 11:15] zynexiz commented on #34
This function is mentioned [here](https://github.com/bubelov/news/issues/3#issuecomment-773268609), not sure if @bubelov implemented in the same commit to?

[2021-02-25 13:41] bubelov commented on #34
@zynexiz no, the app never deletes news, it's the job of Nextcloud back end. You can configure cache purging policy in Nextcloud settings. You can also configure it to keep news forever, as I do. I like the ability to search all of my news by a keyword in order to find all the relevant articles when a certain topic pops up in a conversation and in other situations when I need to find stuff that I

[2021-02-25 13:46] zynexiz commented on #34
@bubelov Ah, missed the "delete" part here, mine was merely for marking the article as read, not deleting the article. As you said, that's the servers job :) As far as I know, the official app don't delete anything either, just marks it as read. Personally, I use the app for actually reading the news. As I mentioned before, have quite a lot so I don't read them all.

[2021-02-27 09:11] zynexiz opened #37 "Inconsistency with show/hide read items"
In the main view, when selecting "Show/hide read news" the read items are hidden or showed as expected. But when going to the individual feeds, the function is reversed, hidden items is shown. In the screenshot, the two first ones are from the main feed. There it works as expected. The last one is from an individual feed, and the function is reversed there.

![news_sceenshot](https://user-images.g

[2021-03-01 08:14] bubelov commented on #37
Fixed in https://github.com/bubelov/news/commit/94afdb39a41c94eabdc11dd92b36bcf41cb5b6b9

[2021-03-01 08:14] #37 closed

[2021-03-01 08:21] bubelov commented on #33
@Donkey-Doug my parser assumed that some optional fields should be present. This feed is "minimalistic" but valid so I relaxed those requirements. Fixed in https://github.com/bubelov/news/commit/6f8be56c3b8bd7cf5525e9f8106789ae479665eb.

PS. By the way, standalone mode should be usable since the next release. By usable, I mean it won't fail to update feeds if any of those feeds is currently offlin

[2021-03-01 08:21] #33 closed

[2021-03-01 20:06] Donkey-Doug opened #38 "Hide opened news + mark scrolled as read bug"
Version: 0.2.7
Mode: Standalone mode

The function hide opened news fails in combination with mark scrolled as read. The news is marked as read, but still shown even though "hide opened news"-view is active.

In order to hide the entries, a refresh is needed.

[2021-03-01 20:09] Donkey-Doug opened #39 "Instantly open in browser"
Make it possible to immediately open a feed in the browser without using the built-in reader.

[2021-03-02 10:12] bubelov commented on #39
Duplicate of #18

[2021-03-02 10:12] #39 closed

[2021-03-02 10:24] bubelov commented on #38
@Donkey-Doug it's intentional. The app won't delete any feed items automatically because it creates a lot of crazy scrolling problems. That's how I did it, initially, and it worked pretty terrible. Android list widget is not optimized for handling a stream of remove requests while scrolling. You have to reload the content or just leave the screen in order to trigger the filter.

[2021-03-02 10:24] #38 closed

[2021-03-02 10:43] bubelov opened #40 "Support Linux desktops and smartphones"
This thing looks promising: https://www.jetbrains.com/lp/compose/

[2021-03-02 11:58] bubelov commented on #18
@BluePixel4k yes, I think adding "feed settings" screen is the best option

[2021-03-03 12:26] bubelov commented on #40
I've tried Jetpack Compose and it's current performance is terrible. I guess we'll have to wait and see if it improves.

[2021-03-03 12:26] #40 closed

[2021-03-04 16:05] bubelov commented on #35
Implemented in https://github.com/bubelov/news/commit/a131ee703abc0b63e1aca17d75fd710f12f10ada

[2021-03-04 16:05] #35 closed

[2021-03-07 13:30] Antoine-Derouin opened #41 "Add search in bookmarks"
As it is the case on the "news" tab it would be nice to be able to make a keyword search in "Bookmarks".

[2021-03-07 13:31] Antoine-Derouin opened #42 "Add support for app translations"
I am willing to help translate the app into French. 🇫🇷

[2021-03-07 13:35] Antoine-Derouin opened #43 "Added automatic synchronization at launch"
With an option that can be enabled or disabled in the preference.

[2021-03-08 09:22] bubelov commented on #43
@Antoine-Derouin do you think it should be on by default?

[2021-03-08 09:24] bubelov commented on #41
@Antoine-Derouin makes sense. Do you think it should be a scoped search (news only, bookmarks only, feeds only, etc) or a single unified search?

[2021-03-08 09:28] Antoine-Derouin commented on #41
@bubelov Since there are only three tabs, it seems simpler to me to do three separate searches.

If I want to quickly find an article that I bookmarked, I don't want it to be drowned in the middle of many articles "just read", that would complicate the search ^^

[2021-03-08 09:32] Antoine-Derouin commented on #43
@bubelov why not, it would help novice people who wouldn't think of "pull for refresh".

[2021-03-08 09:34] Antoine-Derouin commented on #43
Also, a "refresh in background" option exists on a lot of apps, it could please some people.

But it's only interesting for receive notifications.

(in my personal case it doesn't interest me)

[2021-03-08 09:35] bubelov commented on #42
@Antoine-Derouin great! Here is your strings file:

https://github.com/bubelov/news/blob/master/app/src/main/res/values-fr/strings.xml

Feel free to replace English values with their French translations. You might want to add this page to your bookmarks and check it from time to time. The app is far from being feature-complete so there will be more strings to translate.

Here is the example of exi

[2021-03-08 09:38] Antoine-Derouin commented on #42
@bubelov Perfect !

[2021-03-08 12:25] #42 closed

[2021-03-16 14:28] bubelov commented on #43
Implemented in https://github.com/bubelov/news/commit/9c0ad271e756cdd3bee8140eef601098a1e29746

[2021-03-16 14:28] #43 closed

[2021-03-16 15:22] bubelov commented on #41
Implemented in https://github.com/bubelov/news/commit/03914227a7c49bc5ab5e1dba8d49d97f2f942b0c

[2021-03-16 15:22] #41 closed

[2021-03-18 16:04] bubelov commented on #18
Implemented in https://github.com/bubelov/news/commit/22359ef3f6dfe21f0fec2e75958a429aa9b430de

[2021-03-18 16:04] #18 closed

[2021-03-22 07:42] bakinazik opened #46 "About Content"
how can i see all content on the page? example flym. when i scroll down on the flym it shows me all the page content.

[2021-03-22 10:31] bubelov commented on #46
@bakinazik I'm not sure what do you mean. Some feeds do not provide full content of their posts so you have to go to their websites to see everything. In current News release, you can open the post in the app and then click on the "go to website" action button located in the lower-right corner of the screen. In the next release, there will be an option for every feed that allows users to go straig

[2021-03-22 10:36] bakinazik commented on #46
Can the application completely pull the text in the site under normal conditions? are you sure about this? because I can see the text completely with flym but it is totally not visible in this application.

[2021-03-22 10:39] bakinazik commented on #46
![resim](https://user-images.githubusercontent.com/61169988/111977583-f40c0500-8b13-11eb-9d32-31d8b21609a7.png)
![resim](https://user-images.githubusercontent.com/61169988/111977606-fbcba980-8b13-11eb-9b1c-70a01769d16d.png)

[2021-03-22 10:56] bubelov commented on #46
@bakinazik if you have a feed URL, it's easy to check if it's full or stripped. Flym might simply try to load HTML and ignore feed content completely, some readers do exactly that.

[2021-04-03 08:08] bubelov commented on #17
Implemented in https://github.com/bubelov/news/commit/79929215c55ad0b52d541df2651bb1bc9f987d25

[2021-04-03 08:08] #17 closed

[2021-04-03 08:38] zynexiz commented on #46
NextCloud have the option in the news application, it's not something that's done in the app itself. The implemented "readability" a while ago. I just noticed it myself couple of months ago :)

[2021-04-03 08:43] zynexiz opened #47 "Mark as read on induvidual feed"
While the mark as read was implemented on the main feed, it's not the case while reading the individual feeds. The function should be implemented there for ease of use. Many times I just read some of the individual feeds, but still need to scroll down in the main feed to get them marked as read.

[2021-04-03 08:51] zynexiz opened #48 "Minor bug in mark as read while scrolling"
The mark as read works very good in most cases. Although I noticed an odd behaviour when scrolling down a bit, reading one articles and go back. All the articles visible (unread ones) on the screen when I read one post gets marked as read when going back to the main screen. It seems like the app reloads the feed in all, so the last article not shown in the view will be the first one on top. This d

[2021-04-04 17:40] bubelov commented on #48
@zynexiz yes, return to the feed shouldn't cause all of its items to reload. I think I already fixed this in the unreleased code. Feel free to re-open this issue if it persists after the next update.

PS. There is one edge case where this issue will always be present: if you open your news entry in a browser or decide to switch to some resource-heavy game and come back the app later, its state can

[2021-04-04 17:40] #48 closed

[2021-04-04 17:43] zynexiz commented on #48
@bubelov Ah, sounds good :) I will check the next release when it gets out and see if it's fixed there.

Yeh, most applications have this behaviour. Mostly depends how much other stuff is running :)

[2021-04-04 17:46] bubelov commented on #47
@zynexiz do you mean items don't get marked as read automatically or you just suggesting to add a "mark all as read" button to save users time scrolling trough feeds when they aren't really interested and simply want to mark everything unread as read?

[2021-04-04 17:57] bubelov commented on #46
@zynexiz can you please expand on that? I don't see any related options in the web app

[2021-04-04 18:13] zynexiz commented on #46
In the news application in NextCloud you have the option to activate full text for each flow.
![Screenshot_20210404_201114](https://user-images.githubusercontent.com/22789493/113517740-2b51cb80-9582-11eb-8820-0f42d81dd4c6.png)

[2021-04-04 18:18] zynexiz commented on #47
Items don't get marked as read when scrolling inside individual feeds (from feed tab), like they do in the main feed (where all news are shown). But a "Mark all as read" button would be nice to :)

[2021-04-04 18:58] bubelov commented on #46
@zynexiz that's a nice feature, I thought about implementing something like this client-side. What about quality? It must be pretty hard to separate the relevant text from interface elements, ads, weird markup and so on

[2021-04-04 19:17] zynexiz commented on #46
It's quite useful so you don't have to leave the app itself, and just get the text (and images) of the article to read. The work is pretty decent I think, not completely flawless though. Some pages will display stuff that's not relevant, but is most cases it works pretty good.

[2021-04-06 09:50] bubelov commented on #19
Implemented in https://github.com/bubelov/news/commit/69c5291bb59f9c62e56e7c48fb95b64a12ffcb26

[2021-04-06 09:50] #19 closed

[2021-04-06 09:57] bubelov commented on #47
Fixed in https://github.com/bubelov/news/commit/16d338dbc565f83592072246503ffc61a6ef5fc0

[2021-04-06 09:57] #47 closed

[2021-04-06 10:00] bubelov commented on #46
Closing since there are two existing ways to deal with it reliably (opening in browser or changing server-side feed settings)

[2021-04-06 10:00] #46 closed

[2021-04-07 07:30] seldon1000 opened #49 "Retrieve the full text of an article without opening the browser"
First, I'd like to thank you for this app, it looks and works great.
However, I switched from Flym ( https://github.com/FredJul/Flym , RIP) and there's one thing I really miss: Flym is able to retrieve the full text of an article just by clicking a button and to show it within the app itself, so I don't have to open the article in the browser. Would it be possible to implement the same feature in

[2021-04-07 08:22] seldon1000 opened #50 "Italian translation 🇮🇹"
I noticed that you're not using any localization platform, so I'm opening this issue. I'm willing to translate the app in Italian 🇮🇹 .

[2021-04-07 08:29] seldon1000 commented on #49
I just noticed that a similar issue has already been closed (https://github.com/bubelov/news/issues/46), so I'm closing this myself.

[2021-04-07 08:29] #49 closed

[2021-04-07 10:24] bubelov commented on #34
Implemented in https://github.com/bubelov/news/commit/ac6c8165804c0b2fa6862a6f938987940f34fb79

[2021-04-07 10:24] #34 closed

[2021-04-07 10:32] bubelov commented on #28
Implemented in https://github.com/bubelov/news/commit/ac6c8165804c0b2fa6862a6f938987940f34fb79

[2021-04-07 10:32] #28 closed

[2021-04-07 10:51] bubelov commented on #50
@seldon1000 I never used localization platforms. Frankly, I don't see any value in it. I might be wrong, but most of the people who use RSS or Atom feeds are tech workers and they understand English. I don't even have a translation for my own native language. That was an initial assumption but then people started to show up and suggest translations, so, at this point, using a platform starts to lo

[2021-04-07 11:03] bubelov opened #51 "Log most important events to database"
The app starts to experience "feature bloat" and it's an inevitable thing since every new feature makes life more pleasant for a substantial number of users. For instance, having background sync is useful but it happens "under the hood" and it's hard to figure out what really happens there and if everything worked as expected. I already implemented exception log, but there are a lot of other event

[2021-04-07 11:39] seldon1000 commented on #50
@bubelov Yeah, I'm perfectly fine with English too, but having at least an UI in your own language can be comforting. I think that even more people will show up once they see you're using an actual platform, since it's more approachable.

Well, I'm a translator for other four projects and they're using Crowdin and Weblate (hosted). They're both pretty good for a translator, but I can't tell for a

[2021-04-07 14:18] bubelov commented on #50
@seldon1000 thanks for your contribution! One more question about platforms: what do you think about providing direct edit links to strings.xml file for each language? It doesn't require people to deal with forks, commits and pull requests, it's as simple as editing a text file in a browser. Here is the example of such a link:

https://github.com/bubelov/news/edit/master/app/src/main/res/values-it

[2021-04-07 15:12] seldon1000 commented on #50
@bubelov  Honestly, it would be much less friendly. On Crowdin, for instance, we (translators) are automatically notified when new untranslated strings are available; we can write comments asking for clarifications (when we're not sure what the strings actually mean); we can suggest new translations and so on. People will request a new language and, if approved, proceed translating without any has

[2021-04-07 16:04] #50 closed

[2021-04-09 11:15] Antoine-Derouin opened #53 "Add "mark all as read""
It happens that on the server side, a feed displays all the articles of a site as unread.

It would be convenient in Feeds, added to the three dots menu, "mark all as read".

It could also be useful to have this button in the "News" tab for all feeds at once.

In any case, make sure to put a popin to confirm the action !

[2021-04-09 16:03] bubelov commented on #53
@Antoine-Derouin it's already implemented and it will be available in the next version. Probably in a week or so =)

[2021-04-09 16:03] #53 closed

[2021-04-14 17:33] bubelov commented on #51
Implemented in https://github.com/bubelov/news/commit/c9d198b68b5978ea6436922d9aca8ddc1e57b126

[2021-04-14 17:33] #51 closed

[2021-04-14 17:50] bubelov commented on #30
@Donkey-Doug it has at least three purposes:

- Show user that the content is scrollable
- Indicate user position in a list
- Give user a hint about the size of a list

I have nothing against having it as an "opt in" feature, but every feature needs regular maintenance and there are currently no people who need is and can commit to implementing and maintaining it.

[2021-04-14 17:50] #30 closed

[2021-04-14 17:55] bubelov commented on #1
@jancborchardt Hi. Any news on that guest account? It would be nice to be in touch with the News app team =)

[2021-04-16 11:26] bubelov opened #54 "Transtaling the app"
I've integrated translation platform Crowdin, it should make it simpler to contribute new translations. Direct pull-requests are still welcome, in case you don't want to use this platform. Here is the link:

https://crwd.in/news-android

Feel free to test it and leave your feedback.

CC @zynexiz @Antoine-Derouin @seldon1000 @agustinca635

[2021-04-16 12:54] seldon1000 commented on #54
That's awesome! I've already translated some strings and it works great. I'll definitely keep the italian translations updated. Thank you.

[2021-04-17 18:52] bubelov commented on #29
@Donkey-Doug Android doesn't seem to support more than two default modes:

![Screenshot from 2021-04-18 01-45-50](https://user-images.githubusercontent.com/1189245/115123574-edc05a00-9fe7-11eb-86fc-40d21de21f28.png)

It's possible to hard-code additional modes and implement app-specific theme management but it would complicate the code quite a bit and it's not really a good practice. Material Desi

[2021-04-17 18:52] #29 closed

[2021-04-23 16:23] Tiger3030 opened #55 "NullPointerException when importing from OPML file"
When I try to import feeds from an OPML file I get the following exception:

[code]

The OPML file has the following format:

[code]

[2021-04-23 17:24] bubelov commented on #55
@Tiger3030 which app generated this OPML file?

http://dev.opml.org/spec2.html

I didn't read this OPML spec in full, but it looks like "type" attribute is mandatory.

[2021-04-23 17:29] bubelov commented on #55
@Tiger3030 you can simply add `type="rss"` to all of your outlines and it will pass, but it would be nice to find out what's going on here =)

[2021-04-23 18:02] Tiger3030 commented on #55
Thanks, I have done that and it worked.

I think you are right and "type" is required. The OPML file was generated by another RSS Reader app, which is still in early access (Pluma RSS Reader), so I will inform the developers of that app about the problem.

[2021-04-23 18:02] #55 closed

[2021-04-24 07:16] seldon1000 commented on #14
@bubelov I would like to share some thoughts. I don't think adding a hamburger menu is a great idea. Google is gradually removing it from their apps as Material Design guidelines are evolving to better support long aspect ratios and side navigation gestures. Probably, what's best in this case is a Bottom Drawer, like a classic Modal Drawer but anchored at the bottom (it follows your app's style).

[2021-04-24 07:29] seldon1000 opened #56 "[Feature Request] Limit the number of articles listed in News section"
Right now, if I don't hide read articles, the News section quickly becomes cluttered with hundreds of articles from previous days. The user should be able to limit the number of articles and I can suggest two ways to do that:

- limit the actual number, like "list max 50 articles";
- choose for how long an article should be listed, like "keep articles for two days" and then remove them.

[2021-04-24 07:34] seldon1000 opened #57 "[Feature Request] Click "News" button to go back on top"
I find myself scrolling down through the News section and then having to scroll back up compulsively just to reach the top again. Maybe, add the possibility to click (or double click) on News button to go back on top.

[2021-04-24 11:34] Tiger3030 commented on #20
@bubelov I also think this would improve the user experience a lot. Do you plan to implement this?

Also, in my opinion the snackbar should be shown a little longer, because at the moment it is gone so fast that it is almost impossible to press the 'undo' button.

[2021-04-24 12:04] Tiger3030 opened #58 "Multiple feeds with different xmlUrl but same htmlUrl cannot be added"
There are some RSS feed providers that do not set the exact url but the homepage of their website as htmlUrl. So they have different RSS feeds with different content, but the same htmlUrl, for example:

Feed 1: xmlUrl = 'https://example.com/feed1', htmlUrl = 'https://example.com'
Feed 2: xmlUrl = 'https://example.com/feed2', htmlUrl = 'https://example.com'

When you add the second feed to the app

[2021-04-24 20:43] bubelov commented on #20
@Tiger3030 this app follows Material Design and uses only official patterns and components. I'm not aware of such a pattern and I don't remember seeing it in Android apps. If you can find a good recommendation or a component in Material spec, I will most likely add it.

Other option would be adding tutorial overlays. Not a big fan, but it's better than nothing.

[2021-04-24 20:47] bubelov commented on #58
@Tiger3030 are you using Nextcloud or Standalone mode?

[2021-04-24 20:55] Tiger3030 commented on #58
I am using Standalone mode

[2021-04-24 20:55] bubelov commented on #56
@seldon1000 users can hide read news and it's the default filter. I don't really see a point in hiding content from a user when he specifically requested to see all of the news. I rarely use a "full view", only when I want to find something that I read a few days ago. Hiding some news would make this task difficult and unpredictable.

Can you expand on your use case with read news?

[2021-04-24 21:09] Tiger3030 commented on #20
It is used for example in the Gmail Android app (which follows Material Design as far as I know).

In the Material Design guidelines you can find it here: https://material.io/components/lists#behavior (you have to scroll down to 'Gestures')

[2021-04-24 23:11] seldon1000 commented on #56
@bubelov sure, I'll be more specific. I should clarify that I don't read every news, just a few, and that the use case I was referring to implies that news are marked as read on scroll.

We can imagine three types of news: non-read, read and discarded (news I've seen while scrolling but I don't want to read). Basically, I open the app to see if there are any non-read news, so I start scrolling, bu

[2021-04-25 13:30] bubelov commented on #56
@seldon1000 why don't you hide read news by default? In this mode, the app would never show you the news you already clicked on or swiped on. If you also enable "mark scrolled as read", there would be no need to interact with news in any way. The app would only show you unread news after you open it, isn't it your goal?

[2021-04-25 13:50] bubelov commented on #20
@Tiger3030 there are no code examples here. Quick look trough their libs didn't reveal anything this app could use. Gmail animation also looks different and less nice =)

This guy did something similar with little new code, I'll try his approach to see if it works with card widgets.

https://medium.com/@kitek/recyclerview-swipe-to-delete-easier-than-you-thought-cff67ff5e5f6

[2021-04-25 19:21] seldon1000 commented on #56
@bubelov hmm, I should try as you say. I guess I'm still used to Flym and to how it managed news. However, I have one last question before closing this issue. How are old news managed? I mean, does the app keep everything in cache or does it retrieve news dynamically while scrolling?

[2021-04-25 21:40] bubelov commented on #56
@seldon1000 the app does not depend on Internet connection. It keeps everything in cache, even images. Search is also completely local, so it should work even when user in on a plane. If your NC instance has something, your Android app has it too.

It's not always a good thing, though. I have more than 30k news items and the initial sync takes a while. One of my low-prio plans is to sync only unre

[2021-04-26 07:38] seldon1000 commented on #56
@bubelov as I thought, it was just too fast to load on demand. I think this improves the experience overall but, as you said, there are some side effects.

So your plan is to limit the read news number, but unread news would stay unlimited, right? If so, I am worried about the storage usage on my device too; it's not a problem at the moment, but some months from now? As I said before, I don't read

[2021-04-26 14:47] bubelov commented on #56
@seldon1000 it would complicate the code and it would also mess with Nextcloud settings. Your instance already has certain data policies, you can inspect and edit them according to your preferences. I don't think client apps should mess with that. I wouldn't appreciate inconsistent results between different clients.

News don't take much space anyway. The main offender is podcasts, and I guess we

[2021-04-26 14:50] bubelov commented on #56
@seldon1000 my example with 30k news is rather extreme, it happens only because I explicitly blocked the server from removing any data from its database. The app does exactly what user should expect with such settings. The default server behavior is to keep no more than 1,000 items in each feed, if I remember correctly. You can go to your instance and set this number to whatever suits you best.

[2021-04-26 15:11] seldon1000 commented on #56
@bubelov I didn't know I could do that, sounds cool. I only recently switched to a Nextcloud based storage service (before going full selfhosted) and I'm still learning how to use it properly. Thanks for the tip.

Closing.

[2021-04-26 15:11] #56 closed

[2021-04-27 12:23] bubelov commented on #57
Added in https://github.com/bubelov/news/commit/88c6a1a4224287a61e99e60dd811d396b97e79c0

[2021-04-27 12:23] #57 closed

[2021-04-27 12:25] bubelov commented on #57
@seldon1000 you'll have to tap on the bottom bar icon to "reset" the list state (go back to position 0). I borrowed this pattern from Gmail

[2021-04-27 12:29] seldon1000 commented on #57
Awesome, thank you!

[2021-04-27 12:37] bubelov opened #60 "Include app metadata in OPML files"
The app has certain per-feed settings, such us browser preference and the list of blocked words. This data is valuable for users and it would be nice to include it in OPML files. It would allow to backup user preferences and to migrate feeds between NC and Standalone backends.

[2021-05-04 01:27] bubelov commented on #58
@Tiger3030 Standalone mode used HTML URLs as IDs. I changed it to XML (feed) URLs, it should help the app to avoid conflicts

Fixed in https://github.com/bubelov/news/commit/0d7fe1587d3578a3cb7bcd0b4ed1b4c6d0427be0

[2021-05-04 01:27] #58 closed

[2021-05-04 06:39] #54 closed

[2021-05-05 05:43] losuler opened #62 "Trust anchor for certification path not found"
### Description

I get the following error shown in the screenshot below upon trying to manually login to my Nextcloud instance which is using a self-signed certificate. The official Nextcloud app, Notes and Deck app all accept the self-signed certificate.

### Platform

Android 11

### Version

0.2.8 (F-Droid)

### Screenshot

![Screenshot_20210505-153003_1](https://user-images.githubusercontent.

[2021-05-05 08:02] bubelov commented on #62
@losuler what's your use case? Getting proper certificate is free and using self-signed certs defeats the purpose of HTTPS

[2021-05-05 08:31] losuler commented on #62
It's hosted on my LAN and not having HTTPS disables certain features like browser notifications. I don't want to use a real domain because it's a lot of extra hassle and the same with installing a root certificate on every device I use.

[2021-05-05 14:38] bubelov commented on #62
@losuler I see. Bad luck, app-based auth doesn't work on Android 11, as far as I know. I'm also planning to make my public NC instance LAN-only, for security reasons, so the option to accept untrusted certs might be helpful in case app-based auth is not available.

[2021-05-06 05:51] losuler commented on #62
That's odd. Do you know why app-based auth is working on Android 11 on the Nextcloud Notes and Nextcloud Deck apps? Perhaps there's a solution there.

[2021-05-06 06:11] bubelov commented on #62
@losuler that's a known issue: https://github.com/nextcloud/Android-SingleSignOn/issues/277

[2021-05-06 06:21] losuler commented on #62
Oh he temporarily lowered the `targetSdkVersion` to fix it. But it looks like that's not necessary anymore now that the single sign-on library has removed that limitation in https://github.com/nextcloud/Android-SingleSignOn/pull/282. Hopefully a new release of that lands soon.

I assume that's what you're waiting on?

[2021-05-06 06:25] losuler commented on #62
Looks like he has implemented another fix https://github.com/stefan-niedermann/nextcloud-deck/pull/943 in the meantime until there's a new release of that library.

[2021-05-06 06:48] bubelov commented on #62
@losuler yes, I'm going to update this dependency as soon as new release goes live. My Samsung seems to be stuck with Android 10, so I don't really feel like experimenting with workarounds because the situation is pretty messy and the results are mixed. Hopefully, this issue will be gone once I update that dependency.

[2021-05-09 04:36] bubelov commented on #60
Implemented in https://github.com/bubelov/news/commit/e737ba32798d868c24f5fd7bed2bf0fb338fd069

[2021-05-09 04:36] #60 closed

[2021-05-11 11:45] bubelov opened #63 "Allow users to set preview images visibility per feed"
Some preview images are broken or uninformative. It would be nice to not even try to show preview images for some feeds.

[2021-05-13 13:25] Farzat07 opened #65 "Some feeds don't work"
[This feed](https://lukesmith.xyz/rss.xml) works on [feeder app](https://gitlab.com/spacecowboy/Feeder) but not on this app (no entries shown).

Using the standalone setting.

[2021-05-13 13:33] Farzat07 opened #66 "Add feed URL handlers"
When opening rss urls, show this app as an option to allow quick subscribing to feeds.
![Screenshot_20210513_223033](https://user-images.githubusercontent.com/55144155/118132721-f9fad400-b43a-11eb-9f03-886206633f2f.jpg)

[2021-05-14 06:05] bubelov commented on #65
@Farzat07 I'll take a look on that feed, and there is probably something wrong with my parser. Note that the feed itself is also non-conforming to RSS spec. I'm not sure how severe are those issues, but if you're in contact with that guy, maybe you can let him know:

https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Flukesmith.xyz%2Frss.xml

[2021-05-14 06:35] bubelov commented on #65
@Farzat07 OK, I see what happens. All of the dates in this feed have leading space, so it looks like " Sat, 13 Mar 2021 08:47:51 -0500" instead of "Sat, 13 Mar 2021 08:47:51 -0500", which pisses off date parser. I can probably trim spaces from both sides without breaking other feeds and it should do the trick.

[2021-05-22 12:59] bubelov opened #67 "Allow users to export app database"
Exporting feeds is nice, but it has certain limitations. Full database snapshots are useful for people who want to backup bookmarks in standalone mode or for debugging purposes. People who have problems with the app would be able to send their databases for inspection, which makes it easier to reproduce their issues.

[2021-05-22 13:12] bubelov commented on #65
Fixed in latest release

[2021-05-22 13:12] #65 closed

[2021-05-23 13:14] bubelov commented on #27
Some of those suggestions will be implemented eventually, but I can't tell which ones yet. In the next release, users will be able to hide preview images per-feed (#63). I personally interested in this change and I'll use it so it makes sense to add it. Adding more exotic options and combining them is tricky because no one will test and maintain all those combinations (I won't even know if somethi

[2021-05-23 13:14] #27 closed

[2021-05-23 13:17] bubelov commented on #66
@Farzat07 what's the name of this app? Is it open source?

[2021-05-23 14:02] bubelov commented on #67
Implemented in https://github.com/bubelov/news/commit/fc325471389c37e5b13afb7c978bb7dc652e29cf

[2021-05-23 14:02] #67 closed

[2021-05-25 08:26] Happyfeet01 opened #68 "Fix crashes while scrolling the news feed"
Hello,

when i read the news and scrolling down, the App Force Close.

Nextcloud 21.02
latest News Reader from F-Droid Store

exception logs:

https://paste.dasnetzundich.de/view/c2632621

[2021-05-25 14:04] bubelov commented on #68
@Happyfeet01 This one is tricky to find but pretty harmless. I'll try to fix it in the next release. Does it happen often?

[code]

[2021-05-25 21:49] thereallinusrg opened #69 "Feature Request: Gesture Indicators"
Preamble:
After happily using the app for over half a year, I had to confess to myself that I had never red the pop up appearing after performing a swipe gesture (mark read or bookmark).

I found that I bookmarked hundereds of articles that I wanted to mark as red.

Request:
Add a color indicator for the swipe gestures. E.g. green for mark red and yellow for bookmark.
This UI element would prevent

[2021-05-26 11:05] bubelov commented on #68
@Happyfeet01 are you using default settings? If not, you can send me the screenshot of settings screen so I will be able to reproduce your issue. You can also try to reinstall the app or simply log out and log in, it should reset everything. Enabling custom settings one-by-one might also help to pin down the issue.

If nothing helps, I think F-Droid allows users to choose the app version. You can

[2021-05-26 12:00] bubelov commented on #68
@Happyfeet01 you can try to turn off "Mark scrolled as read", maybe it will help

[2021-05-27 16:03] MarissaRS opened #70 "Some feed items showing as "Unknown feed" (Standalone Mode)"
Device: Google Pixel 4, Android 11 (Calyx OS)

After the latest update from F-Droid, many of my feed items are displaying as "Unknown feed" and don't open anything when I tap them.

Example:

![Screenshot-2021-05-27-12-01-12.png.jpg](https://user-images.githubusercontent.com/54009117/119859430-61a52a80-bee3-11eb-9289-b335ae7181ed.jpg)

As you can see in the screenshot, one feed item is fine and th

[2021-05-28 08:10] bubelov commented on #70
@MarissaRS fixed in https://github.com/bubelov/news/commit/211589d9f00cf28e3a8bf37ea048dad15e0b09a5, will be rolled out with the next release

[2021-05-28 08:10] #70 closed

[2021-05-28 13:12] bubelov commented on #69
Related: https://github.com/bubelov/news/issues/20

[2021-05-28 15:43] bubelov commented on #69
@thereallinusrg changing background color wouldn't work here, but adding icons might help. I tried a few approaches and here is what I ended up with. It will be rolled out with the next release.

![Screenshot_20210528-223143_News](https://user-images.githubusercontent.com/1189245/120009353-1172b900-c006-11eb-9bc7-dc7d8ed4caf9.jpg)
![Screenshot_20210528-222721_News](https://user-images.githubuserco

[2021-05-28 15:44] bubelov commented on #69
Added in https://github.com/bubelov/news/commit/15327c6d9423e4ba45d99eb61400f341466cd5fa

[2021-05-28 15:44] #69 closed

[2021-05-28 17:47] thereallinusrg commented on #69
very cool! I think this will prevent my future me from making mistakes

[2021-06-01 15:08] #1 closed

[2021-06-01 15:31] mormegil-cz opened #71 "Non-breaking spaces are dropped from text"
There is explicit code to remove all U+00A0 characters from the entry text in `entry.EntryViewModel#parseEntryContent`. I have no idea why it was introduced or for which problem should this be a solution. However, this is (quite obviously, I’d say) wrong. U+00A0 is a space character. By removing some subset of space characters from text, the text obviously… misses some spaces, having words joined

[2021-06-01 17:40] bubelov commented on #71
@mormegil-cz its hard to say now why it was here, but my current feeds seem to work fine without this code. I removed it, hopefully it won't break anything else and people won't go here to complain =)

Fixed in https://github.com/bubelov/news/commit/8823bf16b2e59b97e98f3f5c18d0d034d3643ddd

[2021-06-01 17:40] #71 closed

[2021-06-05 02:08] Farzat07 commented on #66
Yes. It is called Feeder (https://gitlab.com/spacecowboy/Feeder).

[2021-06-06 13:42] bubelov commented on #63
Implemented in https://github.com/bubelov/news/commit/3ecaf6ae599c7e55e6cb5df501f3bc9a02d2c857

[2021-06-06 13:42] #63 closed

[2021-07-15 07:05] keunes opened #72 ""Can't sync new and updated entries""
Hello

I used to use Readrops but it suddenly doesn't sync any-more. Looking for an alternative, I came across this app.

Install, log-in and initial sync were quickly done, but now I seem to have the same issue as in Readrops: I can't sync.
![Screenshot_20210715-085535.png](https://user-images.githubusercontent.com/11229646/125743997-9b0a5c31-08c5-4dbc-ac8d-f62049d3ca00.png)

Could this be relate

[2021-07-15 08:12] bubelov commented on #72
@keunes sure, it can be related. This app logs every error locally, you can go to `Settings` -> `Exceptions` and share this error here with a full stack trace. Maybe it will help us to understand what's going on

Also, could you provide your Android version, Nextcloud version and News server version?

[2021-07-15 09:25] keunes commented on #72
[code]
There's a gazillion of these - I just copied the most recent here.

Sure :)
Android: 10
Nextcloud: 20.0.11
Nextcloud News: 16.0.0

(Maybe it's useful to add these questions to a GitHub template)

[2021-07-15 09:39] bubelov commented on #72
@keunes you can ignore image processing exceptions, they just mean that some of the posts don't have thumbnail images. There should be an exception with the same title as on your screenshot, something about being unable to sync feed items

[2021-07-15 11:21] keunes commented on #72
This one I guess?
[code]

[2021-07-15 12:00] bubelov commented on #72
@keunes right. So, your server returns error code 500, it looks like a server-side issue. Client side codes are usually in a range of 400-499. I'd recommend you to open your **web** interface and check `Settings` -> `Logs`. News server is pretty verbose and it might have written something important in global Nextcloud log

[2021-07-15 16:43] keunes commented on #72
I'll have a look, thanks. Given that it does not have any issue with the initial fetch, it can't be a generic issue with my Nextcloud instance or News installation.

Wouldn't the server also return a 500 if the client uses a wrong/non-existant API call?

[2021-07-16 10:11] bubelov commented on #72
@keunes server may do whatever it wants but it would mean it breaks the protocol. Invalid requests are expected to have response codes in the range 400-499. 500-599 range is reserved for server issues

[2021-07-25 14:38] keunes commented on #72
Ok, small holiday in between, and just checked the server logs. I see the following very frequently. Also, it gets triggered when I pull to refresh in the Android app, so I guess this would be related :)
[code]
Also this one occurs frequently, but doesn't get triggered when refreshing feeds:
[code]

Would this give you any hint? Should I open a bug report against Nextcloud News? Please let me know

[2021-07-25 15:10] keunes commented on #72
Same issue seems to be affecting other apps as well:
* https://github.com/nextcloud/news-android/issues/994 (report by other user)
* https://github.com/readrops/Readrops/issues/108 (report by me)

[2021-07-25 17:13] bubelov commented on #72
@keunes I just checked the linked issues. Well, that sucks. That's one of the **many** reasons I get less and less excited about NC and its core apps, it consistently fails at everything besides simple file sync. Looks like you need to re-install your OS in order to fix this issue.

I created this app in order to make NC experience a little more bearable, but I'm planning to switch to standalone m

[2021-07-25 21:14] keunes commented on #72
Thanks @bubelov for your reply. Reading up on the issues, an OS reinstall indeed seems necessary 😟

I really liked Flym, then had to move phones and looked into NC apps, to not have the issues with phones any-more. But I'd be interested in your work for a 'local' app (also because Flym is no longer).

[2021-07-25 21:15] #72 closed

[2021-08-09 08:20] Jane232 opened #74 "Timeout while downloading Podcast + Feature Suggestions"
When I try to download a podcast episode after this (see below) timeout error occurs.
This happens on 4 different podcast providers, my nextcloud is also up and running!
Strangely I cant even download podcast episodes that I have downloaded last week (I did a reset on the app...)

An other bug is when a episode stopped downloading due to connectivity issues, the progressbar still "continues" to do

[2021-08-09 08:56] bubelov commented on #74
@Jane232

Socket timeouts suggest connectivity issues, there is nothing the app can do about that, except properly handling those errors.

Cache management (podcasts and other feed items in general) is currently missing. The app is far from stable release and sometimes you need to do stuff manually. My phone has 16 GB of storage, half of which is used by system, so I totally understand your issue

[2021-08-20 10:41] mormegil-cz commented on #72
Yeah, this change by the NC News app was a terrible idea. For others like me who cannot (or do not want to) replace HW/reinstall OS, I patched the app to restore 32bit support (unless I’m mistaken, there is really no point in the requirement!) in [my fork](https://github.com/mormegil-cz/news/tree/restore-32bit-support) (thanks for inspiration to [shane-kerr](https://github.com/shane-kerr/news/tree

[2021-08-25 14:45] bubelov commented on #14
Closing because new navigation structure doesn't have this issue

[2021-08-25 14:45] #14 closed

[2021-09-03 17:01] coxde opened #76 "More API"
Thank you for developing this app, its design is really nice. Although I know this app mainly focuses on Nextcloud news, if it is possible in the future, can it also support RSS API such as [Miniflux](https://miniflux.app/) ? There is a lack of a foss RSS reader with a modern interface on the market. Just a little thought, thank you!

[2021-09-06 10:04] bubelov commented on #76
@coxde hard Nextcloud dependency is a temporary measure. My current priority is "standalone" mode, which doesn't need a server. Once the app has both NC and standalone backends, adding more backends would become pretty trivial.

Never heard of Miniflux before, is it mature enough to be a stable advertised backend? Actually, I even planned to create my own FOSS backend because the options I tried w

[2021-09-06 11:08] coxde commented on #76
As you said, Miniflux is a minimalist feed reader that is easy to deploy and has a clean Web UI, and you can actually get a good reading experience on mobile via PWA. After trying feed readers like Tiny Tiny RSS, Nextcloud news, etc., I found Miniflux to be stable and easy enough for me. So you can try it, it may meets your needs :)

[2021-09-08 13:33] bubelov commented on #76
@coxde it looks pretty good so far. I'll add this backend in the next release. I can also send you a dev build as soon as it will be ready, if you want to start using it before next release arrives, which might take quite some time

[2021-09-08 13:40] bubelov commented on #72
I tried this thing today and it looks really good: https://miniflux.app/

The deployment is trivial since it's a single binary and it's also considerably faster than NC (it's written in Go). It will be supported in the next release, so there will be an alternative to NC

[2021-09-08 15:51] coxde commented on #76
Thank you for your hard work, I'm happy to help you test this build and I'll wait patiently.

[2021-09-11 18:19] bubelov commented on #76
@coxde here is the latest dev build, if you'd like to use Miniflux backend now: http://bubelov.com/news-0.2.9-debug.apk

Known issues:
- can't add new feeds from mobile yet
- the initial sync won't fetch starred news if they're marked as read

Everything else seems to work, I'm already using this backend as my primary news source

[2021-09-12 03:18] coxde commented on #76
It looks really great, but I also noticed that there are some unread entries not showing up that seem to be not fetched. Besides, is it possible to login with API Keys instead of using username and password?

[2021-09-12 10:13] bubelov commented on #76
@coxde the app will miss some items, as well as any changes in read/starred flags made from the web interface, I don't really see a way around it yet. You can look at the doc:

https://miniflux.app/docs/api.html#endpoint-get-entries

In order to enable "flawless" sync, I need a way to ask Miniflux to give me all entries that have been added or changed. I don't really see how it's possible.

While

[2021-09-12 10:20] bubelov commented on #76
@coxde regarding API keys, I have two issues with them:

1. It requires new UI, the first iteration just re-used NC login flow. Supporting tokens is doable but not high-prio
2. People are terrible at typing long strings of gibberish on mobile. Password managers are optimized for login + password too, so I don't see much added value or usability (quite the opposite, actually)

Tokens are revocable

[2021-09-12 11:12] coxde commented on #76
Sorry I can't help much, but if it's useful, maybe you can take a look at the code of this [app](https://github.com/ConstantinCezB/Microflux), they seem to be "flawless" in terms of syncing entries. (From my personal experience)

Regarding the API key, I think mobile use is a one-time experience, also API keys can be created on the mobile with web and then copying it to this app. So it's maybe not

[2021-09-12 11:27] bubelov commented on #76
How it will behave if you sync entries on mobile and then go to web and mark some of them as read? After that, will they also be marked as read on mobile? Syncing just the new entries is possible but it won't solve the problem of two-way sync. I suspect this app passes the id of the latest entry it has, so it can query newer entries. There is still no way to sync back the changes made to existing

[2021-09-12 11:54] coxde commented on #76
I just tried on Microflux and after I synced it with the app and marked it as read on the web, the app will also mark the entry as read.

[2021-09-12 12:21] bubelov commented on #76
@coxde it might just re-fetch everything, this option isn't compatible with incremental sync. I don't see any ways of getting only changes and not re-fetching old entries

[2021-09-12 16:46] bubelov commented on #76
FYI: It looks like we're blocked by those issues: https://github.com/miniflux/v2/issues/1059, https://github.com/miniflux/v2/issues/358

I also opened an issue regarding categories, so let's wait for feedback here: https://github.com/miniflux/v2/issues/1240. For now, I implemented a workaround which tries to find a category named "All" or simply uses the first category it finds. If there are no ca

[2021-09-26 06:24] dermitdemdino opened #78 "Synchronization faulty"
The synchronization between app and server is not synchronous.

[2021-09-26 18:25] p-fruck commented on #16
Hi, are there any updates on this? As far as I can tell, the changes have been merged into the master branch of nextcloud/Android-SingleSignOn back in May and other apps like Nextcloud Notes are working just fine. I would really appreciate working SSO within this app, since it is so much more convenient. Thank you in advance

[2021-09-26 18:42] nabakolu opened #79 "Picture only feed not displayed correctly"
When a feed only contains an image, the image is cropped somehow.

### Here is how it is displayed:
![Screenshot_20210914-163020_News](https://user-images.githubusercontent.com/55393142/134820088-85039012-a18b-4e5e-9e2d-71a05fc0564c.png)

### Here is how the app Flym displays it:
![Screenshot_20210914-162949_Flym_DecSync](https://user-images.githubusercontent.com/55393142/134820098-43ec6d9d-c872-4

[2021-09-27 10:11] bubelov commented on #16
@p-fruck I saw a few RC builds in their feed, looks like they're in a feature freeze/bug fixing stage now. It's just a guess but I would expect a release pretty soon

Other apps might work because they choose to target obsolete Android API in order to work around this issue

[2021-09-27 10:24] bubelov commented on #78
Can you provide more details on that? Do you get new items from server?

[2021-09-27 12:37] bubelov commented on #79
@nabakolu thanks for reporting, I'll have a look. Meanwhile, you can disable image cropping in settings in order to see full images right from the feed itself:

![Screenshot_20210927-193426_News Debug](https://user-images.githubusercontent.com/1189245/134909263-23c427a9-33c7-45d2-b53f-717fa2fe87a1.jpg)

[2021-09-27 14:13] bubelov commented on #79
@nabakolu I couldn't reproduce it in the current master branch, does this cropping affect all xkcd posts or only the one from your example?

![Screenshot_20210927-210955_News Debug](https://user-images.githubusercontent.com/1189245/134925796-7287eea3-d43b-414b-9629-5c03c62dbcf4.jpg)

[2021-09-27 22:15] nabakolu commented on #79
It affects every xkcd post

[2021-09-28 09:11] bubelov commented on #79
@nabakolu I see, it's probably already fixed. Leaving this issue open, will check again before release to make sure it works in all three backends (Nextcloud, Miniflux, Standalone)

[2021-10-02 05:35] dermitdemdino commented on #78
The feeds are synchronized and retrieved - but incorrectly. Attached is an example:

Dektop:

Unread: 113
Linux: 0
Nitter: 2
Politics: 4
RSS: 107

Android:

Unread: 6080
Linux: 38
Nitter: 1046
Politics: 613
RSS: 4383

![android](https://user-images.githubusercontent.com/6813869/135704977-74442beb-1a1d-40ca-b9a5-f396145c5b99.png)
![desktop](https://user-images.githubusercontent.com/6813869/13570498

[2021-10-02 09:05] bubelov commented on #78
@dermitdemdino it doesn't look like the app from this repo. It looks similar to this app, perhaps you can move your issue there:

https://github.com/nextcloud/news-android

[2021-10-02 14:13] dermitdemdino commented on #78
Thanks for pointing that out, and sorry for the confusion. I have now installed this app, and it works - and syncs perfectly (still). Thanks again!

[2021-10-02 16:40] dermitdemdino opened #80 "[Feature request] Group"
Grouped display of feeds in the "Feeds" tab.

[2021-10-02 23:24] Donkey-Doug opened #81 "Show user-friendly messages when dealing with OPML errors"
java.lang.Exception: Can't parse OPML file: getAttributeValue(null, Symbols.TEXT) must not be null
	at feeds.FeedsViewModel$importFeeds$2.invokeSuspend(FeedsViewModel.kt:60)
	at feeds.FeedsViewModel$importFeeds$2.invoke(Unknown Source:10)
	at feeds.FeedsViewModel.changeState(FeedsViewModel.kt:133)
	at feeds.FeedsViewModel.importFeeds(FeedsViewModel.kt:54)
	at feeds.FeedsFragment$importFeedsLaunche

[2021-10-03 09:59] bubelov commented on #81
It's fixed in the master branch, leaving this issue open to verify after release

[2021-10-03 10:08] bubelov commented on #80
This app is not exclusive to Nextcloud, that's the main problem with categories. Other servers might not have categories or they might use tags instead. I think tags are better than categories, it allows more flexibility. It's probably possible to implement tag system in the app and treat NC categories as app-level tags, so they will behave in the same way since it's easy to express categories via

[2021-10-03 11:27] nabakolu commented on #79
Yea I just tried on the latest build and it works perfectly

[2021-10-03 13:38] #79 closed

[2021-10-03 17:32] #78 closed

[2021-10-03 18:14] bubelov commented on #16
@p-fruck I just tried updating this dep, although it's still RC, and it seems to be working. If you want to grab the latest version from the unreleased master branch, the APK is available here: https://github.com/bubelov/news/actions

[2021-10-03 18:41] p-fruck commented on #16
Awesome, just installed it and it works like charm. Much more convenient than manually configuring the nextcloud credentials :smile: Thank you for your time and work!

[2021-10-04 00:26] Donkey-Doug opened #82 "Open in browser"
Make it possible to open articles directly in the browser.

In this example you see a problem with the current implementation:

https://user-images.githubusercontent.com/50382414/135778695-29a212b4-31e4-450f-aba6-4c0070051388.mp4

Feeds:
- http://www.nos.nl/nos/rss/nieuws.xml
- https://www.youtube.com/feeds/videos.xml?channel_id=UCXuqSBlHAE6Xw-yeJA0Tunw
- https://www.reddit.com/r/fossdroid/.rss

T

[2021-10-04 00:32] Donkey-Doug opened #83 "Hide top bar on scroll"
Hide top bar on scroll

[2021-10-04 08:19] bubelov commented on #82
@Donkey-Doug try grabbing the latest APK from GitHub actions, I think those features are already implemented. It should also fix your issue with "unknown" feeds

[2021-10-04 08:22] bubelov commented on #82
@Donkey-Doug by the way, make sure you have your OPML backed up, next release will have a lot of breaking changes for standalone mode

[2021-10-04 21:53] Donkey-Doug commented on #82
I was using version 0.2.9 (latest) from fdroid.

[2021-10-05 07:20] bubelov commented on #82
@Donkey-Doug F-Droid only contains released builds, this issue is fixed in unreleased dev build. You can either wait for the next release or install the latest version from GitHub CI

[2021-10-05 07:20] #82 closed

[2021-10-05 11:35] Donkey-Doug commented on #82
Would love to test, but couldnot find the apk. Most github pages  have pre-release version in the release section. If you show me in the right direction, I can test the app for you.

[2021-10-05 12:27] bubelov commented on #82
@Donkey-Doug yea, this process is not finalized yet, it will probably have a changing "nightly" release and a build script which updates it after every commit

For now, you can go there: https://github.com/bubelov/news/actions

Every new commit triggers unit tests and produces an APK file which can be installed. You can click on the latest job and download the attachment, it's called news-debug an

[2021-10-05 12:56] Donkey-Doug commented on #81
I downloades the latest debug version. Still cannot import OPML.

![Screenshot_20211005-145610_News_Debug](https://user-images.githubusercontent.com/50382414/136026959-dc998449-70f4-45bf-945a-09c08443c993.png)

[2021-10-05 13:05] Donkey-Doug opened #84 "Delete entries older than x days/hours"
Make it possible to delete or mark as read any entries older than a certain time period.

[2021-10-05 13:06] Donkey-Doug commented on #82
The unknown feed and open in browser issues are fixed

[2021-10-05 14:38] bubelov commented on #81
@Donkey-Doug I think this OPML file is invalid. `TEXT` is a mandatory element, every OPML item should have it

[2021-10-05 14:49] bubelov commented on #84
Deleting items won't work since the app wouldn't be able to tell the difference between new items and deleted items when it checks a feed for updates. There is an action called "mark all as read" which can be used to clear big backlogs. No plans on automating this though

[2021-10-05 14:49] #84 closed

[2021-10-05 14:50] bubelov commented on #83
I'm not interested in this feature, but I would merge it if someone is willing to implement it and send a PR

[2021-10-05 14:52] #16 closed

[2021-10-05 15:07] Donkey-Doug commented on #81
Github won't let me upload it. How do you recommend I share the file?

[2021-10-05 15:09] bubelov commented on #26
Most apps don't do that, so implementing this properly is a lot of work. I'm willing to accept PRs if someone wants to implement it, but I have no plans doing it myself

[2021-10-05 15:09] #26 closed

[2021-10-05 15:11] bubelov commented on #81
Got it, here is the list:

[code]

[2021-10-05 15:17] bubelov commented on #81
@Donkey-Doug here is the spec:

http://opml.org/spec2.opml

It looks like this OPML is invalid, it should use `text` element but it uses `title` instead

[2021-10-06 09:23] bubelov opened #85 "Count updated and unchanged feeds separately when importing OPML"

[2021-10-06 09:45] bubelov commented on #81
This website can validate OPML files and it also confirms that this feed is invalid: http://validator.opml.org/

@Donkey-Doug I think some other apps have less strict validation rules, this app strives to strictly follow the spec. You can probably use any of those apps to import this invalid OPML and then use them to export valid OPML for you. Flym is the issue here, it should work just fine if yo

[2021-10-06 10:16] bubelov commented on #81
Fixed in https://github.com/bubelov/news/commit/17836162f9f46b324d7875f9347c655cefff5550

[2021-10-06 10:16] #81 closed

[2021-10-15 06:04] shuvashish76 opened #86 "Error while importing OPML file"
![image](https://user-images.githubusercontent.com/48226312/137439991-9754b998-c607-4c30-a0ab-63d89312937c.png)

`.opml` file exported from [NewsBlur](https://github.com/samuelclay/NewsBlur)
Mode: Standalone mode (Beta)
App version: 0.2.9 (15) [F-Droid]

[2021-10-15 08:22] bubelov commented on #86
@shuvashish76 it will work in the next release. For now, you can grab the latest nightly APK from GitHub CI: https://github.com/bubelov/news/actions/runs/1341638053

[2021-11-04 19:48] c64bob commented on #76
Hi there,
do you plan to release a version with official support for miniflux?
Thanks for the great app!

[2021-11-05 09:02] bubelov commented on #76
@c64bob full Miniflux support it blocked by a few things on Miniflux side, you can read about them above. That said, it still works pretty well, at least for me. If you want Miniflux support now, just grab an auto-built APK from "preview" release, which always corresponds to the latest commit. As of the official release, no ETA on that yet

[2021-11-09 12:13] a-0-dev commented on #7
I have been using the app for a few months now to listen to podcasts, and would really like to see an integrated podcast player! There would be two main benefits imho:

- Integrated management of downloaded audio files. Currently they are just downloaded and e.g. fill the list of audio files in VLC (where I don't really want them), plus they eat storage space.
- Continuing listening to some podcas

[2021-11-15 13:18] bubelov opened #92 "Migrate to Material 3"
https://m3.material.io/

This theme is limited to Android 12 and later, for now. Expect some things to be a bit rough =)

[2021-11-17 00:09] citizenserious opened #93 "Error HTTPS request fails with error code 520"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

Steps to reproduce the bug
1. Click "Login with Nextcloud"
2. Choose an account and press ok
3. Allow News to access my nextcloud account -> press allow

###

[2021-11-17 09:43] c64bob opened #94 "Force Close with Version 0.3.0"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

1. Start the app, optionally clear cache before
2. it immediately force closes

### Actual behavior

After update from versio

[2021-11-17 09:56] bubelov commented on #94
@c64bob did you try to delete the app manually and make a clean install?

[2021-11-17 09:58] bubelov commented on #93
@citizenserious can't reproduce it on my own Android 11 device. Can you try installing the previous version and checking if it works? It could be NC issue but I'm not sure

[2021-11-17 09:58] c64bob commented on #94
Yes, I tried that as well. Unfortunately it still force closes after a clean install.

[2021-11-17 10:00] bubelov commented on #94
@c64bob ah, I see. Its Android 12... See https://github.com/bubelov/news/pull/88

I'll patch this thing soon. Meanwhile, you can use preview build:

https://github.com/bubelov/news/releases/tag/preview

[2021-11-17 10:04] bubelov commented on #94
@c64bob also, https://github.com/bubelov/news/issues/92. Android 12 will have a new customizable theme, I'm working on it now and I'll make a new release in a day or two, but it can take F-Droid a few days to distribute it

[2021-11-17 10:52] citizenserious commented on #93
With 0.2.9 I get the error that the nextcloud files app would not be installed, but when I manually login then, it works. We wrote about this error before (can't remember where), so you added the manual login option.

[2021-11-17 11:11] bubelov commented on #93
@citizenserious I think this issue is different. It can be related to NC Android app too. I'm using 3.17.1 and it works fine, you can try downgrading and see if it helps. Also, NC released their new sign-in library yesterday and I'm going to update it in the new release, maybe it will help

[2021-11-17 11:13] bubelov commented on #93
@citizenserious since the manual login is only available when app login fails straight away, you can't use 0.3.0, right? I think it makes sense to allow users to select manual login even if NC app is present, just to avoid this kind of situations in the future

[2021-11-17 11:22] citizenserious commented on #93
Exactly, it does not fail anymore like in 0.2.9 so there is no question window popping up, asking me if I would like to manually login.
That would be very nice (:

[2021-11-17 11:29] bubelov opened #95 "Allow manual NC login even if NC app is present"

[2021-11-17 12:29] bubelov commented on #93
@citizenserious it's added in the preview build:

https://github.com/bubelov/news/releases/tag/preview

It will also be available in F-Droid in a few days

[2021-11-17 12:34] citizenserious commented on #93
You are awesome, thank you very much (:

[2021-11-17 12:42] #93 closed

[2021-11-17 15:22] defenset opened #96 "Unable to add rss feed manually"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

Try to add feed.

### Actual behavior

For some reason I’m not able to add custom feed.

### Expected behavior

Be able to ad

[2021-11-17 15:28] defenset opened #97 "Unable to import feeds from opml file"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

Try to import opml file

### Actual behavior

ompl file is invalid

### Expected behavior

Be able to import

### Screenshots

[2021-11-17 15:29] defenset commented on #97
![feed import error](https://user-images.githubusercontent.com/94124619/142230142-902ce344-7699-477d-9c67-70d59ec19226.png)

[2021-11-18 10:26] bubelov commented on #96
@defenset I was able to reproduce this issue. For some reason, HN refuses to send its feed to the app. Here is the full error:

![Screenshot_1637230678](https://user-images.githubusercontent.com/1189245/142396879-5cd77c33-e66a-49f2-b703-7121bb8635fc.png)

HTTP response code: 503
Message: Sorry, we're not able to serve your requests this quickly

It looks like an issue on HN side, maybe it bans req

[2021-11-18 10:34] bubelov commented on #97
@defenset this OPML file is invalid, see https://github.com/bubelov/news/issues/81#issuecomment-934504050

All OPML files are required to have an attribute named "text". You can try filing a bug report for the app which created this invalid feed

[2021-11-18 10:34] #97 closed

[2021-11-20 09:48] bubelov commented on #96
The app sent two requests instead of one, one by the app itself and one by a feed parser library. That might explain rate limiting on certain websites. I'll configure the lib not to send a second request, maybe it will solve this issue

[2021-11-20 11:07] bubelov commented on #96
Ok, it seems to be working now. It's available in preview release now and it will be available in F-Droid in a few days. Let's leave the issue open till the fix is available in F-Droid

[2021-11-20 15:24] defenset commented on #97
it was flym, but it's abandoned now, unfortunately

[2021-11-20 15:26] defenset commented on #96
ok, I will test it as soos as it's out

[2021-11-20 15:34] bubelov commented on #97
@defenset you can open your OPML as a text file and rename all `title` attributes to `text`. One "find and replace" operation should make your OPML valid and compatible with all readers

[2021-11-20 15:43] defenset commented on #97
I'll do that, hopefully your app will replace it for me in some future 🤞

[2021-11-21 22:26] ebraminio opened #102 "Posts swipe to left and right doesn't work in Sv2"
Probably interferes with system things, not sure, not related to theme at least

https://user-images.githubusercontent.com/833473/142781176-9a4cebe0-dacf-4141-b10c-4d7d9a814e9e.mov

[2021-11-23 04:44] bubelov commented on #94
Fixed in v0.3.1

[2021-11-23 04:44] #94 closed

[2021-11-23 04:46] bubelov commented on #86
Fixed in v0.3.1

[2021-11-23 12:44] BluePixel4k opened #103 "Marking scrolled entries as read, marks too much when scrolling up."
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

1. Activate the setting mark scrolled entries as read.
2. Go to the news tab.
3. Swipe down and a few items later swipe up.
4

[2021-11-23 13:51] BluePixel4k opened #104 "Add "refresh articles" to the pop up menu or next to it"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want and why do you want this?

Add "refresh articles" to the pop up menu or next to it, so that you don't have to scroll up and swipe down for a refresh.

[2021-11-23 14:02] BluePixel4k opened #105 "Support for built-in Chrome-Tabs"
### Checklist

- [ ] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

I had already expressed the suggestion in passing, but a support for built-in Chrome-Tabs would be nice (chromium based browsers support this too).
I

[2021-11-23 14:13] defenset commented on #96
Works perfectly, you can close this issue, 🥇

[2021-11-24 08:45] #96 closed

[2021-11-24 08:59] bubelov commented on #104
@BluePixel4k what's your use case? I don't see manual refresh buttons often and new content is supposed to start from the top anyway. There is also a "quick scroll to top" action, you can click on currently selected tab again in order to jump to top

[2021-11-24 09:16] p-fruck commented on #68
@bubelov What is the current state of this issue? I was using the debug build you provided in #16 until recently, which worked just fine (even with mark scrolled entries enabled). After the issue with the app crashing on android 12 was fixed, I updated to the official version of news and I now experience the same issue where the app stops running when scrolling down or opening a feed. Even with ma

[2021-11-24 09:31] bubelov commented on #68
@p-fruck did you try to delete the old app and make a clean install? 0.3 might be incompatible with 0.2

[2021-11-24 09:36] bubelov commented on #68
@p-fruck also, see https://github.com/bubelov/news/issues/93 if you're using NC. Apparently, SSO library is quite unpredictable, so I had to bring manual NC login as a top-level option. It's not yet available in F-Droid, but it helps some users with sync issues

[2021-11-24 09:54] p-fruck commented on #68
@bubelov thanks for the quick response. I uninstalled the debug build and did a fresh install of news v0.3.1 with clean storage, but the issue persists. I also downgraded my nextcloud app which I use for SSO to 3.17.1 as you mentioned, but still no success. Unfortunately, SSO is kind of a requirement for me, I'm also not sure if this really is the error here, since as I mentioned it worked fine wi

[2021-11-24 10:00] p-fruck commented on #68
Also, v0.3.1 using SSO with nextcloud 3.18.0 on android 10 (with google services, in case this matters) has been confirmed to work without such crashes

[2021-11-24 10:37] BluePixel4k commented on #103
I don't know much about programming apps myself, but could you possibly fix the problem in which the function "marking scrolled entries as read" is only active when you scroll down the feed. And if you scroll up it is paused for a short time?

[2021-11-24 12:44] bubelov commented on #103
This feature is not connected to scrolling, it just checks what's visible on the screen. The easiest solution would be to wait a bit and make sure the content is still visible in, say, 250 ms. That would mean that a news item should be on the screen for some time in order to be registered as "seen". The downside is: quick scrolling will fail to mark some items as "seen", that's why this fix is pro

[2021-11-24 12:52] bubelov commented on #68
@p-fruck so you can see the news, but when you try to scroll, it crashes? Can you try switching to standalone mode and adding any feed with it? If it will work, it probably has something to do with NC SSO. If it still crashes, at least we'll know its caused by something else

[2021-11-24 12:53] Happyfeet01 commented on #68
I using the latest stable build f-droid. No crashes.

[2021-11-24 13:21] p-fruck commented on #68
@bubelov You're right, in standalone mode I do not experience any issues. When using NC SSO, scrolling the news feed works fine but opening a specific article force closes the app (happens every 3-4 posts)

[2021-11-24 13:57] bubelov commented on #68
@p-fruck and it happens only on Android 12? Is it reproducible? Are there articles which always fail? If so, can you provide an example feed and an article so I can try to reproduce it

[2021-11-24 14:00] defenset commented on #96
Here is [another one](https://distrowatch.com/news/dwd.xml
) that I tried but couldn't load on **news**, if you can @bubelov, take a look at it

[2021-11-24 14:02] p-fruck commented on #68
@bubelov Seems to be an android 12 issue to me, same configuration on android 10 seems to work. To reproduce, simply open the detail-view of an artical a few times in a row and the app will crash. The issue is not specific to a specific article, but happens on each article if I open it multiple times (usually not more than 5x).

[2021-11-24 14:39] bubelov commented on #68
@p-fruck can you try it with direct login? If you have security concerns, you can create a throwaway account just for this test and then delete it. It would show us for sure if the issue is related to SSO of NC integration in general

[2021-11-24 14:51] p-fruck commented on #68
@bubelov I can reproduce the issue with direct login. Very strange.

[2021-11-24 16:05] bubelov commented on #68
@p-fruck so you still having crashes with direct login? What's your Nextcloud Server and Nextcloud News app versions?

[2021-11-24 16:17] bubelov commented on #68
@p-fruck one more thing, can you try to login with Miniflux and check some news/feeds and see if the app crashes? It will tell us if the issue is with NC integration or every server-based backend

URL: https://news.bubelov.com
User: test
Password: newstest

Feel free to change anything in this account

[2021-11-24 16:21] p-fruck commented on #68
@bubelov Yes I have. I am running Nextcloud v22.2.3 dockerized and have news v16.2.1 installed. When looking at the results of `docker-compose logs -f` I got the following output for a successful and a failed request:

[code]

Both requests seem to succeed with status code 200, but the second request failed...

I've just tried your miniflux (thanks for this support!) where I made two attempts to v

[2021-11-24 16:30] bubelov commented on #68
Just tested on Android 12 with my NC instance and direct login, no crashes. NC Nextcloud 22.1.1, News Server 16.2.1

OK, so it looks like it happens with all remote servers, that suggests connectivity issue and improper handling on the app side. I will try to add a global exception handler in order to catch the stack trace of this issue and show it inside app

@p-fruck also, if you're a dev or fam

[2021-11-24 16:31] bubelov commented on #68
@p-fruck my theory is that it fails on a network call, probably on sending the "read" flag

[2021-11-24 21:51] p-fruck commented on #68
@bubelov I've setup logcat and captured the following error message:

[code]
The UI somehow seems to report a width < 0 which isn't supported. Do you have any idea how this could happen?

[2021-11-25 20:02] KSPAtlas opened #107 "Articles from 1 feed get cut off randomly"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

1. Use Standalone mode
2. Add feed "https://tuxphones.com/rss
3. Click on an entry

### Actual behavior
 The article gets cut

[2021-11-26 09:58] bubelov commented on #107
[code]

I'm assuming you're using standalone mode? The app just shows the content of a description tag. Some feeds offer full articles and some feeds prefer to cut them, it depends on feed and not on app. Some backends can try to fetch full content though, you can try that

[2021-11-26 10:04] bubelov commented on #68
@p-fruck no idea, but it seems like the text view reports zero width under certain conditions. That's unexpected, but I'll add an exception handler as a first line of defense. At least it will stop crashing. After that, I'll have a look on what may be causing that

[2021-11-26 10:21] bubelov commented on #105
I'll look into that later, too much on my plate now. I'm not against this idea, so PRs are welcome, if someone wants to add this feature ASAP

[2021-11-26 10:40] bubelov commented on #68
@p-fruck I added some exception handling and logging, it should stop crashing in preview build

[2021-11-26 17:41] mirdaki commented on #80
Recently found this app and would love something like this! I think a tag system would work. My use case is I have a set of sites that I always want to read in a "Favorites" Nextcloud folder and then everything else where I don't particularly care if I see it or not.

[2021-11-28 14:18] BluePixel4k commented on #103
I see, then the official news app probably implemented the feature differently or?

[2021-11-28 14:24] BluePixel4k commented on #105
No stress, maybe we can get inspiration from other apps that have implemented the feature.
For example:
https://github.com/nextcloud/news-android
https://github.com/tuskyapp/Tusky

[2021-11-28 14:35] BluePixel4k commented on #104
With the official news app, I always like to use the feature because it automatically scrolls up, removes read articles, and loads new ones.

Its is nice to have, because I can do it in a detours :)

[2021-11-28 14:56] bubelov commented on #103
@BluePixel4k I haven't seen it, it may use fixed height for all items. That would solve the problem, at least in theory

[2021-11-28 15:06] bubelov commented on #104
@BluePixel4k by official, do you mean Nextcloud app? This app has many backends and Nextcloud is the slowest and less reliable one, tbh. I don't really know how it works in the official NC app, but I'll check when I have time

Meanwhile, fell free to try Miniflux backend:
URL: https://news.bubelov.com
User: test
Password: newstest

I was a NC user for a long time but one of the app users introduce

[2021-12-06 08:57] bubelov commented on #102
It works fine on a real Pixel 6 device, probably that's an emulator issue

[2021-12-06 08:57] #102 closed

[2021-12-12 02:17] TheOne-Z commented on #58
I'm having this issue with few of my feeds, running in standalone mode.
Examples:
https://feeds.yle.fi/uutiset/v1/recent.rss?publisherIds=YLE_NEWS&concepts=18-218706
and
https://feeds.yle.fi/uutiset/v1/recent.rss?publisherIds=YLE_NEWS&concepts=18-214247

[2021-12-12 08:12] #92 closed

[2021-12-12 08:12] #95 closed

[2021-12-13 14:30] ozls commented on #80
I sync with Miniflux and I'm very interrested in this feature as well. I keep another reader on my phone just to access categories, so if this app implemented it it would be the only one I need! Thanks for all your work in any case, really great app.

[2021-12-29 22:34] Donkey-Doug opened #115 "Hide preview text"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x ] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

Make it possible to hide the preview text.

#### Why do you want this feature?

It makes the interface less cluttered and increases content density.

[2021-12-31 12:02] symphorien opened #116 "[feature request] swipe from an article to the next one"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

When opening one unread article, I would like to be able to swipe to the right to read the next article in the unread list.

#### Why do you want thi

[2022-01-01 07:28] sivaraam commented on #86
Strangely. I'm still observing precisely the same error when trying to import an OPML file exported from Feeder. I use v0.3.2 of the app.

[2022-01-03 07:47] bubelov commented on #86
@sivaraam are you sure it fails on parsing the same field (`type`)? Some feed readers are known to output invalid OPML with some mandatory files missing

[2022-01-04 17:36] sivaraam commented on #86
Yeah. I see a very similar error message. See screenshot of error.

<details>
  <summary>Screenshot of error</summary>

![Screenshot_20220104-230339](https://user-images.githubusercontent.com/12448084/148100229-048d64f0-3074-4beb-a2fd-7ea3bbdcc3e8.jpg)

</details>

Oh. I'm not sure about. I exported the OPML file from Feeder [[repo link](https://gitlab.com/spacecowboy/Feeder)]. Are you aware of an

[2022-01-07 15:38] emersion commented on #76
I've opened https://github.com/miniflux/v2/issues/1319 for this.

[2022-01-07 15:40] emersion commented on #105
Example implementation in Feeder: https://gitlab.com/spacecowboy/Feeder/-/merge_requests/249

[2022-01-07 15:45] emersion opened #119 "Allow swiping to read/unread entries in per-feed view"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

1. Go to the "Feeds" tab
2. Tap on a feed
3. Try swiping an entry, it doesn't work

#### Why do you want this feature?

The combined list ("News" tab

[2022-01-11 09:24] frogtile opened #120 "reader: HTML pre texts aren't handled"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

1. Read a post which has HTML pre text in it
2. Watch that pre texts aren't in monospace and their formating is losr

### Act

[2022-01-11 09:35] frogtile opened #121 "reader: Internel links aren't functioning"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

1. Read a post which has internal links
2. Click on one of them.
3. Reader doesn't scroll to the part of that post where the

[2022-01-12 07:15] frogtile opened #122 "Can't add feed not having absolute URI for them"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

1. Try Adding the feed from https://scattered-thoughts.net using https://scattered-thoughts.net

### Actual behavior

It fail

[2022-01-12 20:21] frogtile opened #123 "UI: open in browser button is hiding content"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

1. Open an article.
2. Scroll to the end.

### Actual behavior

Texts behind the button is not viewable

### Expected behavio

[2022-01-15 13:02] Hund opened #124 "Application keeps crashing"
I bookmarked an article that I was reading and the application instantly crashed. If I try to start it again it just instantly crashes again.

I'm using version 0.3.2 from F-Droid with the Miniflux backend on my Google Pixel 3a with LineageOS.

[2022-01-15 13:04] Hund opened #125 "Application doesn't show images"
It doesn't show images for me in the articles.

Example website that I've tried:

Website: https://ndanes.com
Web feed: https://ndanes.com/feed.xml

I'm using version 0.3.2 from F-Droid with the Miniflux backend on my Google Pixel 3a with LineageOS.

[2022-01-15 13:30] frogtile commented on #125
It shows images on an article from a different feed.

Feed: https://drewdevault.com/blog/index.xml

https://drewdevault.com/2021/12/30/Language-design-considerations.html

But not on a post, first one, I have tried on the mentioned feed.

[2022-01-19 06:51] bubelov commented on #124
@Hund can you name that article and the feed?

[2022-01-19 11:15] Hund commented on #124
I don't remember what it was, but I tried the first article that popped up when I started over with the client.

This time it was:

https://www.sweclockers.com/artikel/33589-veckans-fraga-ar-nfts-har-for-att-stanna

And the same thing happened now as well. Here's the feed:

https://www.sweclockers.com/feeds/nyheter

[2022-01-20 08:53] M86xKC opened #126 "Feature request: Add text-to-speech feature"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ ] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

Add a button to convert the text to speech using android's built in text-to-speech engine.

#### Why do you want this feature?

Listening to articles

[2022-01-21 06:03] bubelov commented on #86
@sivaraam can you provide that OPML file? It will allow me to reproduce your issue and see what's wrong. You can probably cut most of your feeds, just a few should be enough

[2022-01-27 18:32] sivaraam commented on #86
Hi! Here's a trimmed OPML export of my feeds that still fails to import in the app:

https://drive.google.com/file/d/1LJm6DtYJZK9U3vdA0SRRpk1F8DAWYT3Q/view?usp=sharing

PS:  Couldn't upload it to GitHub directly, hence the drive link.

[2022-01-28 02:06] Donkey-Doug commented on #21
@bubelov Could you maybe warn the user that the http link is insecure and still have the option to "continue anyway"?

[2022-01-28 02:14] Donkey-Doug commented on #83
Well no one will implement it now that the issue is closed!

[2022-01-28 13:53] bubelov commented on #83
@Donkey-Doug pressed the wrong button probably =)

[2022-01-28 13:57] bubelov commented on #21
@Donkey-Doug yea, I was thinking about an option in settings, the problem with alerts is that there are too much of them and people tend to skip text and press OK no matter what is offered. If someone intentionally goes to settings and enables it, it probably means that they understand the risks. I'll split it into a separate issue

[2022-01-28 22:22] locness3 commented on #86
Hi! I'm also facing this issue with an OPML file exported from [Inoreader](https://inoreader.com).
News version 0.3.2 from F-Droid as well.
[Here's the file](https://locness.duckdns.org/drop/f.php?h=35J-ec6e&d=1), I did manually remove a few feeds.

[2022-01-29 10:35] bubelov commented on #86
@sivaraam ah, I see. This file has a nested structure, which is allowed by spec:

My parser doesn't support nested outlines, but supporting it shouldn't be hard. I'll include it in the next release which I'm planning to publish in a few days

[2022-01-29 10:41] bubelov commented on #86
@locness3 your OPML also seems to be nested, so the post above applies to your issue too

[2022-01-29 13:12] bubelov commented on #86
Fixed in https://github.com/bubelov/news/commit/1278ba9f1a0340432c661bdd1c36868f72809a87

[2022-01-29 13:12] #86 closed

[2022-01-29 13:28] bubelov commented on #124
@Hund just checked this feed and it works fine on my device. Did you add any extra settings for this feed on Miniflux side, like trying to show full article content in the app?

[2022-01-29 13:41] Hund commented on #124
I did. Fetching the full article is a requirement.

[2022-01-29 14:46] bubelov commented on #124
@Hund I see. I'll enable it and see what happens. I have a theory that it crashes because of Android limit on DB cursor size (10M). Some websites embed pics directly in HTML and it caused some issues in the past

[2022-01-29 22:52] locness3 commented on #86
Thank you so much!

[2022-01-30 06:45] bubelov commented on #123
Fixed in https://github.com/bubelov/news/commit/83e84c4635b43c0ed391109f84f40adbab3198bd

[2022-01-30 06:45] #123 closed

[2022-01-30 11:58] #107 closed

[2022-02-02 07:24] frogtile commented on #122
From this I also learned that HTML element's attribute value doesn't always need to be double quoted

https://html.spec.whatwg.org/multipage/syntax.html#attributes-2

[2022-02-02 08:18] bubelov commented on #121
@frogtile it's a known issue and I'm not sure if it's fixable at all. The problem is, WebView has a horrible performance and incoherent styling, but RSS/Atom posts are basically HTML so we still need to parse it somehow. What I settled on is https://developer.android.com/reference/android/text/Html#fromHtml(java.lang.String,%20int) and it works reasonably OK, but it has some flaws. Basically, it t

[2022-02-05 03:33] Donkey-Doug opened #128 "Mark entries older than x days/hours as read"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

Make it possible to auto mark as read.

#### Why do you want this feature?

Because sometimes I open the app and see 1000s of unread entries.

[2022-02-08 00:09] adrienneteicher opened #129 "No 'download's button when using search in podcast feed"
### Checklist

- [x] I am using the latest version
- [x ] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

### Actual behavior

The "download" button does not appear in the search results

### Expected behavior

The “download" but

[2022-02-08 06:14] bubelov commented on #129
Fixed in https://github.com/bubelov/news/commit/20295ff9969822b592f5285ce2a642cb54ebca19

[2022-02-08 06:14] #129 closed

[2022-02-08 06:39] bubelov commented on #125
@Hund regarding ndanes.com

The app currently relies on this callback when fetching images:

https://developer.android.com/reference/android/text/Html.ImageGetter#getDrawable(java.lang.String)

I assumed that it should always return absolute URLs, but that doesn't seem to be the case. This website uses relative paths for img tags, which is rather uncommon but valid, according to RSS validator.

Si

[2022-02-08 07:20] bubelov commented on #125
Fixed in https://github.com/bubelov/news/commit/36e2bcad3850c0ed8b34e65c43b1a43d45fe37b4

[2022-02-08 07:20] #125 closed

[2022-02-08 09:05] adrienneteicher commented on #129
Cheers

[2022-02-09 04:38] bubelov commented on #122
@frogtile you're using standalone mode, right?

[2022-02-09 04:50] bubelov commented on #122
Fixed in https://github.com/bubelov/news/commit/117e8bf6936dbfb2ccc2b8293bf75f887d053028

[2022-02-09 04:50] #122 closed

[2022-02-09 04:51] bubelov commented on #122
@frogtile FYI: you can also omit http(s)://, just typing a domain name should work

[2022-02-09 05:17] bubelov commented on #124
@Hund still can't reproduce your issue, unfortunately, but there is a way to find out what's wrong. I added a global crash handler to debug builds, so you can grab the latest build and reproduce it there:

https://github.com/bubelov/news/releases/tag/preview

It won't interfere with your original app, they have separate namespaces. This handler just asks you to share the stack trace if it detects

[2022-02-09 05:55] frogtile commented on #122
Yes

[2022-02-12 05:31] Hund commented on #124
This is what I got:

[code]

[2022-02-13 08:20] Hund commented on #124
Here you go.

[code]

[2022-02-13 10:07] bubelov commented on #124
@Hund whoops, I added check for the wrong state so the error is still uncaught. Can you please try again, it should catch it now

[2022-02-17 06:52] Hund commented on #124
I'm sorry, but it works with that version. I can't give you any logs.

[2022-02-17 10:54] bubelov commented on #124
@Hund interesting. Did you change anything server-side? It was probably a server issue. Anyway, closing this issue since it's no longer reproducable. Feel free to re-open with new logs if it fails again

[2022-02-17 10:54] #124 closed

[2022-02-17 10:59] Hund commented on #124
I'm using the plaid hosting, so I have no idea if anything has changed. :)

[2022-02-22 15:14] bubelov commented on #68
@citizenserious crash log sharing is enabled for preview builds so you can try that. If the app detects a crash, it should initiate crash log sharing. I'm planning to enable this feature for all future builds

https://github.com/bubelov/news/releases/tag/preview

[2022-02-22 15:46] citizenserious commented on #68
java.lang.NullPointerException
	at db.app.EntryQueriesImpl$selectByReadOrBookmarked$1.invoke(DatabaseImpl.kt:767)
	at db.app.EntryQueriesImpl$selectByReadOrBookmarked$1.invoke(DatabaseImpl.kt:765)
	at com.squareup.sqldelight.Query.executeAsList(Query.kt:135)
	at com.squareup.sqldelight.runtime.coroutines.FlowQuery$mapToList$1$1.invokeSuspend(FlowExtensions.kt:98)
	at kotlin.coroutines.jvm.internal

[2022-02-22 15:48] citizenserious commented on #68
java.lang.NullPointerException
	at db.app.EntryQueriesImpl$selectByReadOrBookmarked$1.invoke(DatabaseImpl.kt:767)
	at db.app.EntryQueriesImpl$selectByReadOrBookmarked$1.invoke(DatabaseImpl.kt:765)
	at com.squareup.sqldelight.Query.executeAsList(Query.kt:135)
	at com.squareup.sqldelight.runtime.coroutines.FlowQuery$mapToList$1$1.invokeSuspend(FlowExtensions.kt:98)
	at kotlin.coroutines.jvm.internal

[2022-02-22 17:33] JVariance opened #131 "Compact/ Condensed News Layout"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

A more compact/condensed News Layout.

#### Why do you want this feature?

As of now articles are generously provided with space, so there is only on

[2022-02-23 11:54] bubelov commented on #131
@JVariance I think it can be a nice feature, do you know any apps where it's done in an aesthetically-pleasing way?

[2022-02-23 12:24] bubelov commented on #68
@citizenserious looks like an issue with database schema or date validation

1. Can you try to make a clean install? Just delete the app manually and install the latest F-Droid version from scratch
2. If it keeps crashing, try to clean install the latest preview version. I made a few changes to the code, so it should give us more details if it crashes on date validation

[2022-02-23 15:48] bubelov commented on #68
@citizenserious something isn't right with the database. Are you using Nextcloud?

If so, can you try any other backend? You can use my Miniflux server to check if it crashes (feel free to add/remove any feeds):

URL: https://news.bubelov.com
User: test
Password: newstest

[2022-02-23 16:03] bubelov commented on #68
@citizenserious you mentioned direct login so I assume you're using Nextcloud. It's really hard to rely on this backend because it can return null for pretty much any field and the database doesn't like it at all. I think it just failing too late, it allowed corrupted/incomplete data from the server and now it can't read it. If should probably fail earlier (at sync time) or just ignore invalid new

[2022-02-23 16:24] citizenserious commented on #68
@bubelov I tested it with your Miniflux server, there is no crash.
Yes I use Nextcloud.
I also tried the official app for nextcloud news, works for me with the mark as read while scrolling option.

[2022-02-23 20:06] JVariance commented on #131
Currently I use the discontinued open source app 'Flym News Reader' which shows articles as suggested.
If you round up the image’s edges it would look sleek and modern.

[2022-02-23 20:47] citizenserious commented on #68
@bubelov I exported the database file but I do not know how do execute the query. Tried to find the line in a editor but I could not find it.

[2022-02-24 15:20] bubelov commented on #68
@citizenserious which editor did you use? `Conf` table should have exaxtly one row, your password is in this row, you can just replace it with empty string or any random word.

[2022-02-24 15:48] citizenserious commented on #68
@bubelov I just used the windows editor. I found a line with "nextcloudServerPassword" and it looks empty, maybe because I am logged in over the nextcloud app? I do not know what you mean with Conf table.
If you tell me that this is okay, I will post the file here.

[2022-02-24 17:46] bubelov commented on #68
@citizenserious I see. It needs a special editor, you can try this one:

https://sqlitebrowser.org/

[2022-02-24 20:12] citizenserious commented on #68
[news.zip](https://github.com/bubelov/news/files/8135437/news.zip)
I had to remove the conf table completely, struggled to remove only the password part. Hope this still helps.

[2022-02-25 13:33] bubelov commented on #68
@citizenserious thanks for providing test data, I was able to plug it but the phone didn't crash during scrolling. Can you please verify that the app still crashes if you enable airplane mode (no Internet)?

[2022-02-25 13:36] citizenserious commented on #68
Yes it also crashes when in airplane mode.

[2022-02-25 18:19] bubelov commented on #68
@citizenserious depends on your definition of sensitive =) Apart from settings, it's only articles and feeds, which are public anyway

I'm getting out of ideas on what might cause this issue. The really strange thing is that you don't have crashes if you turn "mark scrolled as read" off. The code from your stack trace isn't related to this preference, it gets called only from "show preview" functi

[2022-02-27 14:33] bubelov commented on #68
@citizenserious I see. You can use this "fix" for now, I'll try to fix this issue in the next release. Thank you for your cooperation =)

[2022-02-27 19:54] citizenserious commented on #68
Thank you very much for your time and effort and for providing this app (: people like you keep the internet running for every one like it realty should. Keep up the good work.

[2022-03-02 06:29] frogtile commented on #131
InoReader does it reasonably well.

[2022-03-02 06:33] frogtile commented on #120
@bubelov can you please take a took at this issue

[2022-03-05 13:36] JVariance opened #132 "Merge news coming from different sources"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

I think it would be a nice feature to have articles grouped by topic as in Google News.

#### Why do you want this feature?

This would massively cle

[2022-03-07 19:07] BobIsMyManager opened #133 "Ability to fetch full article in-app"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [X] This issue contains only one feature reqest. I will open one issue for every feature I want to request.

#### What feature do you want?

I want to be able to load the full article in app, because some feeds just say what the article is about and tell you to go to the actual article, lik

[2022-03-08 17:55] slodown opened #134 "Google News RSS feed shows duplicates"
Hi,
I'm using the Google News RSS ain Standalone Mode.
When I do a manual update fetch some feeds are shown twice or triple.
Would be nice to add a feture to remote those dupicates.
Thanky you!

[2022-03-08 20:18] BadCo-NZ opened #135 "Support FreshRSS API"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

Support for FreshRSS (Fever) API

https://freshrss.github.io/FreshRSS/en/developers/06_Fever_API.html

#### Why do you want this feature?

Currently

[2022-03-09 11:27] frogtile opened #136 "content: render HTML <hr> element"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

Render HTML `<hr>` element as a line

#### Why do you want this feature?

To have more visually accurate content display

[2022-03-09 11:40] bubelov commented on #134
@slodown did you download it from Google Play?

[2022-03-09 11:56] ahmadjubair33 commented on #136
Hi @frogtile where do you want `hr` tag I will add.Thank you

[2022-03-09 11:58] frogtile commented on #120
@bubelov can you please take a took at this issue

[2022-03-09 12:08] frogtile commented on #136
I want the `<hr>` element present in a feed entry to be displayed as a horizontal line having a reasonable stylesheet such that it does hurt the reading experience.

An example of an article having `<hr`: https://geohot.github.io//blog/jekyll/update/2022/03/05/beauty-after-covid.html

[2022-03-09 12:11] ahmadjubair33 commented on #136
Hi, @frogtile can you please tell me the file where to add `hr` it will be easy for me.Thank you

[2022-03-09 12:33] frogtile commented on #136
No.

[2022-03-09 14:48] slodown commented on #134
No I'm using the one from F-Droid, didn't know there is an Google Play version...

[2022-03-09 14:49] slodown commented on #134
https://news.google.com/rss?hl=de&gl=DE&ceid=DE:de

[2022-03-10 09:26] bubelov commented on #134
@slodown Google Play version was banned so it's better not to use it anyway. Google wants app developers to be able to censor content which is not compatible with many feed readers, including this one

[2022-03-12 09:08] bubelov commented on #105
That sounds good, testing it now

[2022-03-13 17:49] frogtile commented on #136
@ahmadjubair33 any progress?

[2022-03-13 17:52] ahmadjubair33 commented on #136
Hi, @frogtile sorry I did not find the file where to add the `hr` tag. Can you please tell me where to add it?I will add.Thank you

[2022-03-13 17:55] frogtile commented on #136
What is wrong with you?

[2022-03-14 14:46] bubelov commented on #105
Implemented in https://github.com/bubelov/news/commit/38baca3fd2850a74209082271e0b25efcfd6b502

It will appear in the next release, you can also check it out now by installing the preview build

[2022-03-14 14:46] #105 closed

[2022-03-14 14:51] bubelov opened #137 "Check if it's feasible to support more HTML tags natively"
The list of suggested tags:
- hr
- pre

[2022-03-14 14:53] bubelov commented on #137
Example of `hr` tag in use: https://geohot.github.io//blog/jekyll/update/2022/03/05/beauty-after-covid.html

[2022-03-14 14:55] bubelov commented on #120
Moved to https://github.com/bubelov/news/issues/137

[2022-03-14 14:55] #120 closed

[2022-03-14 14:55] bubelov commented on #137
Example of `pre` tag in use: https://drewdevault.com/2021/12/30/Language-design-considerations.html

[2022-03-14 15:13] bubelov commented on #134
@slodown disregard the previous message, I can see duplicates now

[2022-03-14 16:52] bubelov commented on #134
It's not that simple, this feed is really odd...

First, it assigns an integer `guid` to it's stories, like:

[code]

Then, it magically becomes a string:

[code]

It's the same story with the same title, but Google changes it's `id` every minute. This `id` is supposed to be constant, because every `id` is interpreted as a separate news item. I'm not sure if there are good ways to fix this in the

[2022-03-14 18:12] BluePixel4k commented on #105
Awesome, it works very well, thank you!

[2022-03-15 12:10] slodown commented on #134
Thanks for your troubleshooting and review.

The "inoreader" app should have a feature which can handle this, bt it was not working for google news.

I'm using now miniflux, before that i used nextcloud. I hoped to manage with those tools, but no success.

I also tried atom feed: https://news.google.com/atom?hl=de&gl=DE&ceid=DE:de (same :( thing here)

[2022-03-22 13:46] JohnFrankz commented on #133
Yes, if this app could add the option to get the full text of Rss, then it would be the perfect Android Rss reading in my mind, its nice and simple interface has impressed me deeply.

[2022-03-24 09:31] Kvasenok commented on #80
Tags sound perfect! That way you can have categories from nextcloud and tags from miniflux. You can probably use left side panel for tags as it seems kinda redundant in current state anyway.

[2022-03-24 09:34] Kvasenok commented on #133
In most cases you can use feed expansion services like feedex or fivefilters to have a full text feed.

[2022-04-01 17:27] gzqx commented on #116
Really want this feature too.

[2022-04-02 13:48] BobIsMyManager opened #140 "JSON feed support"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

I want to be able to follow json feeds within the app

#### Why do you want this feature?

JSON feeds are structured in a more readable way than atom

[2022-04-09 13:00] bubelov commented on #131
@JVariance FYI: I'm working on the similar issue now (https://github.com/bubelov/news/issues/115) and it will move the app a bit closer to optional condensed layouts. The idea is to allow users to hide entry descriptions, which should give users back some vertical space. There will be a global preference as well as per-feed optional overrides

[2022-04-09 13:41] bubelov commented on #115
Implemented in https://github.com/bubelov/news/commit/09048c2afd7725149ce6e4ed217da165fc37914b

[2022-04-09 13:41] #115 closed

[2022-04-09 13:46] bubelov commented on #134
Closing because this feed breaks the Atom spec, there is nothing the app can reliably do to fix it

[2022-04-09 13:46] #134 closed

[2022-04-12 15:26] bubelov commented on #74
Implemented in https://github.com/bubelov/news/commit/0620af30eefb3b830de5082fda6f7a6abf5ad8fb

[2022-04-24 07:44] bubelov commented on #66
Implemented in https://github.com/bubelov/news/commit/c4760a0d021906babca632335eb02260f38eb24e

[2022-04-24 07:44] #66 closed

[2022-04-25 13:27] bubelov commented on #140
In most cases, this app is not responsible for parsing feeds. It can try to parse feeds only in experimental standalone mode. In case of the standalone mode, the parsing is done by `feedk`. Transferring this issue to its repo.

[2022-05-14 11:46] n78 opened #143 "Fix crashes when clicking setting"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

1. Go to sidebar
2. Press on setting

### Actual behavior

The application crashes

### Expected behavior

Open the setting s

[2022-05-15 03:08] bubelov commented on #143
Fixed in https://github.com/bubelov/news/commit/d40178f0378d3a1b387b669734d4074807f2ce2d

Please note that the preview branch can be super unstable so its better to make OPML backups every time you add or delete a feed in standalone mode

[2022-05-15 03:08] #143 closed

[2022-05-26 08:15] ildar opened #144 "adding a http feed fails"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug
1. Tap `+` to add a feed
2. insert `http://lifehacker.ru/feed/`
(not httpS)

### Actual behavior
error: host `http` not found

[2022-05-26 08:24] ildar opened #145 "[FR] zoom ability for images"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?
Images shown in the feed, this is GREAT. But one may want to look closely at images and this is plain impossible. Very sad.
The feed to test on: http:

[2022-05-27 06:55] bubelov commented on #144
It works fine in the preview build: https://github.com/bubelov/news/releases/tag/preview

Please note that those builds are made automatically from the most recent commit and they can be pretty unstable. You can grab a preview build if you really need that feed and can't wait for the next official release (no ETA on that yet)

![device-2022-05-27-134512](https://user-images.githubusercontent.com/1

[2022-05-27 06:55] #144 closed

[2022-06-25 13:18] esdnm commented on #137
Please implement the `pre` and `code` tag. Without them, reading software development oriented blog posts is just not possible.

[2022-06-25 13:27] bubelov commented on #137
@esdnm Android TextView doesn't support such fancy tags. Code examples often require horizontal scrolling, especially on mobile screens, so your best option is opening such entries in your browser

[2022-07-09 23:44] pc00per commented on #132
I would like to having tags too. Standalone mode is kinda in beta & hasn't improved a lot yet.

[2022-07-16 21:37] Darkempire78 commented on #133
News will be perfect with this improvement

[2022-07-17 09:42] Darkempire78 opened #149 "Some rss links do not work"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

1. Add this rss feed : https://partner-feeds.20min.ch/rss/20minutes
2. Refresh
3. See that the feed does not work

### Actual

[2022-07-17 10:07] bubelov commented on #149
https://www.rssboard.org/rss-validator/check.cgi?url=https%3A%2F%2Fpartner-feeds.20min.ch%2Frss%2F20minutes

This is an invalid feed, you can report this issue to feed maintainers

[2022-07-17 10:07] #149 closed

[2022-07-20 08:44] C8opmBM commented on #80
Amazing work and the materialyou looks and scrolls amazingly good.
I like the card view, but I'm still waiting an update on grouped/foldered feeds, at least for the standalone version with OPML, if that's easier.
Pretty please 😘

[2022-07-22 03:24] bubelov commented on #132
Looks like a dupe of https://github.com/bubelov/news/issues/80

[2022-07-22 03:36] bubelov commented on #80
I'm still thinking on how it might look like UI-wise. It's probably better to make it opt-in (Settings -> Enable tags). With such an option enabled, the app can show tags instead of feeds on the feeds tab, making this screen multi-level, or maybe it would make more sense to add a separate tab for tags. Any ideas and mock-ups are welcome. The goal is to figure out how to add this feature without co

[2022-07-22 13:15] JVariance commented on #132
@bubelov as far I understand the other feature request correctly it proposes to create folders/categories/tags manually?
What I meant was an automatic collection of news that cover the same topic which is ideally displayed horizontally in a swipeable section (like in Google News).

[2022-07-22 13:21] JVariance commented on #132
![5406.jpg](https://user-images.githubusercontent.com/62245444/180447661-4de40a51-c314-4361-9bb0-e8e137864b39.jpg)
![5407.jpg](https://user-images.githubusercontent.com/62245444/180447697-23fb0db1-4dbb-4b03-88a1-e8755466c687.jpg)
![5409.jpg](https://user-images.githubusercontent.com/62245444/180447718-0fcd5db4-9985-4b8d-a4d9-1651083e6287.jpg)

[2022-07-23 05:17] bubelov commented on #132
I see. There are no plans to add such a feature at the moment. Tags are coming and they can help users organize their feeds. Atom and RSS don't usually provide tag or category insights, so I'm afraid it can only be done manually by users. I think Google employs machine learning to try to infer categories, I doubt that it can work well enough without a server

[2022-07-23 15:35] C8opmBM commented on #80
You can take a look at [ReadYou](https://github.com/Ashinch/ReadYou), maybe use similar settings, if possible.

https://raw.githubusercontent.com/Ashinch/ReadYou/main/fastlane/metadata/android/en-US/images/feeds.png

[2022-07-24 05:47] bubelov commented on #80
Material spec has an example of "expand and collapse" lists, I guess it can fit this use case too. Clicking on such a group can show all of its news, and clicking on an expand/collapse button can show or hide the contained feeds

[2022-07-24 10:53] JVariance commented on #132
Maybe one could make assumptions based on the title. In the upper case the articles could bundle under 'Tesla' and/or 'Bitcoin'.

[2022-07-24 12:18] bubelov commented on #132
@JVariance what problem are we trying to solve with that? I'm thinking of merging news with similar titles to de-clutter the feed, is that the main use case you have in mind?

[2022-07-24 12:25] JVariance commented on #132
Exactly. De-clutter is the right term.

[2022-07-25 02:12] bubelov commented on #132
Merging similar titles is doable, although the performance impact needs to be verified. Reopening

[2022-07-28 06:47] aaron-watts opened #151 "HTML entities rendering as plain text in titles"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

HTML entities such as '$' and '£' do not render in title

### Actual behavior

HTML entities render in plain text: <pre>£#163

[2022-07-29 02:53] bubelov commented on #151
@aaron-watts can you provide feed URL? First, we need to make sure this feed is valid

[2022-07-29 07:36] aaron-watts commented on #151
https://feeds.skynews.com/feeds/rss/world.xml

[2022-07-30 04:17] bubelov commented on #151
Fixed in https://github.com/bubelov/news/commit/1ae5972434aae88504ac53f2ed59affe120552d4

@aaron-watts preview releases with the latest changes and bugfixes are always available here: https://github.com/bubelov/news/releases/tag/preview

[2022-07-30 04:17] #151 closed

[2022-08-12 08:27] C8opmBM opened #152 "Crashes lately"
So I've been having constant crashes lately. I don't know what causes them, could be related to latest Android 12 updates maybe since I haven't experienced them before.
I'm on pixel 6, up to date with android 12.

Here is the crash log, maybe you could look into it.
Thanks.

[code]

[2022-08-12 08:37] C8opmBM commented on #152
You've committed so much since the latest release in February, I'm thinking to install the latest dev build to see if crashes are still present there.

[2022-08-13 03:54] bubelov commented on #152
@C8opmBM yep, you can try that. The new release is expected within a few weeks

[2022-08-13 16:50] C8opmBM commented on #152
No more crashes. I had 2 bookmarks which errored out when adding them, so possibly that was the error.

[2022-08-13 16:50] #152 closed

[2022-08-15 03:01] joelchrono12 commented on #135
I would love for this to happen. supporting fever or google reader api would be awesome_

[2022-08-19 12:27] Darkempire78 opened #153 "Crash when I click on an article"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug
1. Click on an article
2. (I tested whith this rss feed https://www.jeuxvideo.com/rss/rss.xml)

### Actual behavior

Crash

##

[2022-08-21 05:28] bubelov commented on #62
https://developer.chrome.com/blog/removing-push/

Just saw this post in my feed and remembered this issue. On a second thought, I can't see any benefits in allowing self-signed certs. It's easier to use HTTP instead since the app doesn't force HTTPS and it's trivial to configure NC instance to allow both HTTP and HTTPS traffic

[2022-08-21 07:49] bubelov commented on #153
Fixed in https://github.com/bubelov/news/commit/186c22ff030e96526cc3dd9cd9facd381811e334

I didn't test it, feel free to re-open if it doesn't work

[2022-08-21 07:49] #153 closed

[2022-08-26 11:22] dontobi opened #156 "Error after Nextcloud Login"
### Checklist
- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug
1. Install latest debug apk
2. Open the App
3. Log in to Nextcloud

### Actual behavior
With the debug APK I always get this er

[2022-09-05 05:17] bubelov commented on #156
[code]

[2022-09-05 05:22] bubelov commented on #156
Fixed in https://github.com/bubelov/news/commit/498b233f2aa8ee6358e435c65afe19a8be6891a1

[2022-09-05 05:22] #156 closed

[2022-09-05 05:59] dontobi commented on #156
Thanks

[2022-09-05 08:54] dontobi opened #157 "[FR] Floating Button for Mark all as read"
### Checklist
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?
I would like to see a floating button to mark all articles as read.

#### Why do you want this feature?
In my opinion, a floating button is better than

[2022-09-05 09:03] dontobi opened #158 "[FR] Open article in browser"
### Checklist
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?
It would be helpful to add the option "open article in browser" in the 3-dot menu of the article view.

#### Why do you want this feature?
Some RSS fee

[2022-09-06 04:10] bubelov commented on #158
@dontobi do you see a floating action button in the bottom-right corner of that screen? Let me know if its missing. Also, you can go to feed settings screen and set those shortened feeds to open in browser by default.

[2022-09-06 07:17] dontobi commented on #158
On my Pixel 6 with Android 13, my floating button is displayed (see screenshot).

![Screenshot_20220906-091428](https://user-images.githubusercontent.com/19261667/188571171-af2ae1a8-c7d8-4ba2-8b3f-16cbbfc94890.png)

The option with the integrated browser doesn't seem to work either, because the view of the articles stays the same, no matter if I turn the feature on or off.

[2022-09-06 07:46] bubelov commented on #158
@dontobi every feed has its own settings, you can access it from the feeds screen or from any feed entry screen

[2022-09-06 10:53] dontobi commented on #158
Thank you for pointing it out. These feed related settings I did not know until now.
However, I am now wondering what option "use the internal browser" in the settings does. I could not see any difference so far, no matter what I selected in this option.

[2022-09-06 10:54] dontobi commented on #157
![Screenshot_20220906-091428](https://user-images.githubusercontent.com/19261667/188617543-29999df8-4fe3-4f69-bbd2-d6f5032aa696.png)

[2022-09-06 11:01] bubelov commented on #158
@dontobi internal browser is generally faster, but if you don't see any difference, there is no need to turn it on. Some users asked for it and they reported better performance (measured as page loading time).

[2022-09-06 11:01] #158 closed

[2022-09-06 11:12] dontobi commented on #158
Okay. Thanks for the explanation.

[2022-09-09 19:00] dontobi opened #159 "Nextcloud Sync does not work"
### Checklist
- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug
1. Install latest Debug Version (09.09.2022)
2. Setup the App with Nextcloud Sync

### Actual behavior
With the current debug v

[2022-09-15 09:00] Darkempire78 opened #160 "Mark displayed articles as read does not work when you close the app"
### Checklist

- [x] I am using the latest version
- [w] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

### Actual behavior

Displayed articles are not marked as read

### Expected behavior

Mark them as read

### Screenshots/Scr

[2022-09-17 10:21] bubelov commented on #160
@Darkempire78 by latest version, do you mean preview builds?

[2022-09-17 10:34] Darkempire78 commented on #160
yes @bubelov

[2022-09-18 11:09] Darkempire78 opened #161 "News no longer recovering any articles"
### Checklist

- [x] I am using the latest version (PREVIEW BUILD)
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

### Actual behavior

News no longer get articles (I tried with more than 15 feeds wich worked before)

### Ex

[2022-09-18 17:20] scumola opened #162 "Android app crashes with 4000+ unread articles on server"
Title says it all. Pruning some articles from the server fixes the issue.

[2022-09-19 05:35] bubelov commented on #162
Both the initial and follow-up incremental sync happen entirely in-memory, so OOM is the most likely explanation. I'm planning to optimize the initial sync, but there is no ETA on that.

[2022-09-19 05:38] bubelov commented on #161
Should be fixed in https://github.com/bubelov/news/commit/48788f640cace86cba9184e96071ea287fbd3248

[2022-09-19 05:38] #161 closed

[2022-09-19 05:39] bubelov commented on #159
Still not working?

[2022-09-19 07:18] dontobi commented on #159
It's working. Closed

[2022-09-19 07:18] #159 closed

[2022-09-22 14:33] esdnm commented on #137
How does GitHub's Android app do it on  Markdown files? Is it a non-native app?

[2022-09-23 05:23] bubelov commented on #137
Better to ask them. Probably by adding their own custom extensions

[2022-09-28 12:17] doronbehar commented on #68
I also get:

![Screenshot_20220927-095645_Readrops](https://user-images.githubusercontent.com/10998835/192776501-98898b8f-7743-4c49-b14f-f3ecc110e57d.png)

[2022-09-28 15:56] Atn-D opened #163 "Dark OLED thème"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

I found issue #29 which is similar, but with the switch to MD3 I open this issue.

Some MD3 applications offer an boolean "oled" so that the dark the

[2022-09-28 16:00] Atn-D opened #164 "load all bookmarks from server"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

I would like the android app to be able to load all bookmarked articles from the server.

#### Why do you want this feature?

I would like to be able

[2022-10-01 19:10] scumola opened #166 "Add optional "prune read articles" button"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo. . Yes I checked.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?
An optional button to prune the article list of read articles instead of doing it automatically. Button can be turned on or off in se

[2022-10-11 05:48] bubelov commented on #164
@Atn-D it's supposed to load everything. Are you using NC backend?

[2022-10-11 08:12] Atn-D commented on #164
@bubelov I use NC News `18.2.0`

I have 5 articles bookmarked in android (from 2022.07.17), but 48 in NC (from 2021.02.12)

[2022-10-11 12:02] bubelov commented on #164
@Atn-D can you try re-installing the app or wiping the data?

[2022-10-11 12:08] Atn-D commented on #164
@bubelov I uninstalled and reinstalled the app.
I co via the NextCloud app.
My bookmarks tab is empty.

[2022-10-14 12:39] Atn-D commented on #163
When I wrote this issue I was on android 11.
I upgraded to Android 12 with a Material You background #000 and News inherited it.
I don't need this application anymore!

[2022-10-16 18:29] scumola commented on #164
I installed the updated app from fdroid and bookmarks and all unread articles are not available. Required me to re-login to nextcloud too for some reason. All subscriptions are still there.

[2022-10-16 22:37] M86xKC commented on #126
I looked a bit at the code of Feeder but was not able to make sense of it. I just experimented with adding the below code and and it also did not work.

I added the below code to [entryModel.kt](https://github.com/bubelov/news/blob/4ebd3b4b0425cdf5dd53c8a604249a7464a3fe23/app/src/main/kotlin/entry/EntryFragment.kt#L198)

[code]

and below code to [entryModel.kt](https://github.com/bubelov/news/blo

[2022-10-16 23:48] dbolton commented on #164
Same experience as @scumola when upgrading from fdroid a moment ago. Client only shows one of the 6 bookmarks I have saved (after asking me to relog in)

[2022-10-17 07:15] glacambre opened #169 "OPML import failure, reason: NULL"
Dear maintainer,

Thanks a lot for creating this app. The one I was using recently became unusable for me, so I'm hunting for a replacement. Yours looks like a potentially great candidate :)

### Checklist

- [x] I am using the latest version (installed through F-Droid)
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo (https://github.com/bubelov/news/issue

[2022-10-17 07:28] GuillaumeLeGoc opened #170 "Floating button to open article disappeared"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I am using the latest version
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

Open an entry from the feed.

### Actual behavior

The floating button that was in the bottom right corner is not here anymor

[2022-10-17 07:41] glacambre opened #171 "OPML Import: Unsupported feed type (possibly due to RDF?)"
### Checklist
- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug
Import the following OPML file:
[code]

### Actual behavior
News fails with "Failed to import feed $URL Reason: Unsupported fee

[2022-10-17 09:01] MarkWieczorek opened #172 "0.4.0 no longer works with Nectcloud"
### Checklist

- [x] I am using the latest version
- [ ] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ ] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

### Actual behavior

### Expected behavior

### Screenshots/Screen recordings

### Logs

### Device info

 - Android version/

[2022-10-17 10:02] mormegil-cz commented on #172
Yes, the same here. I see nothing interesting in adb logcat; however, on the Nextcloud server, a lot of “Token is not valid: Token does not exist: token does not exist” error messages appear in the log, when I start the News app and it attempts to sync the feeds.

[2022-10-17 10:08] mahmoudk1000 commented on #172
Same goes here, not able to sign in through Nextcloud...

[2022-10-17 10:41] glacambre opened #173 "OPML Import: Ignore CDATA issues"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?
I would like News to ignore CDATA issues when loading an OPML file. The kind of CDATA issue News rejects looks like this:
[code]
Such issue exists in

[2022-10-17 10:58] glacambre opened #174 "Support for RSS version 0.91"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?
I would like News to support RSS version 0.91, so that importing an OPML file containing a feed using this version does not result in a "Unsupported R

[2022-10-17 11:11] glacambre opened #175 "RSS feed incorrectly identified as HTML?"
### Checklist
- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug
Import the following OPML file:
[code]

### Actual behavior
News emits an error about not being able find feed links in the HTM

[2022-10-17 11:25] glacambre opened #176 "OPML Import Failure: Processing instructions must not start with xml"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug
Import the following OPML file:
[code]

### Actual behavior
News fails with the following error message: ` -- Processing instr

[2022-10-17 11:34] glacambre opened #177 "OPML import failure: Failed to read response"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug
Attempt to import the following OPML file:
[code]

### Actual behavior
News fails with an error message telling the user that

[2022-10-17 11:46] glacambre opened #178 "OPML Import failure: Collection contains no element matching the predicate"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo (although https://github.com/bubelov/news/issues/153 might be related).
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug
Load the following OPML file:
[code]

### Actual behavi

[2022-10-17 11:57] GuillaumeLeGoc commented on #170
Update : actually, the floating button appears if you scroll the entry. But for short entries, there's not enough text to scroll and the button does not appear.

[2022-10-17 12:01] GuillaumeLeGoc commented on #172
New version did log me out of Nextcloud but I was able to reconnect successfully.
Android 13, Nextcloud 24.0.5

[2022-10-17 13:04] bubelov commented on #172
I don't use NC so I don't have an account to test it. Is anyone willing to create a test account for me so I can check what's going on? I tried a few "NC partner" services but most of them aren't working at all and the ones which work don't support NC News app.

[2022-10-17 13:07] bubelov commented on #178
This feed appears to be invalid: https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Frachelbythebay.com%2Fw%2Fatom.xml

[2022-10-17 13:07] #178 closed

[2022-10-17 13:10] bubelov commented on #177
Does not validate: https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fmichael.stapelberg.ch%2Ffeed.xml

[2022-10-17 13:13] bubelov commented on #176
Does not validate: https://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fwww.loper-os.org%2F%3Ffeed%3Drss2

[2022-10-17 13:13] #176 closed

[2022-10-17 13:14] bubelov commented on #175
Seems to be valid: https://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fveridicalsystems.com%2Fblog%2Ffeed%2F

[2022-10-17 13:27] bubelov commented on #175
Content type seems to be wrong though:

[code]

[code]

[2022-10-17 14:58] mormegil-cz commented on #172
I tried to debug the issue and it seems to me that (at least in my case), the problem is not with authentication or anything (it seems the messages in the server logs have been there always), but with the feed content and its processing in the Nextcloud-specific part of the code.

AFAICT, the problem was [this commit](https://github.com/bubelov/news/commit/31f497a30033e1acd8c73b63859ce16919063aa0#

[2022-10-17 17:07] bubelov commented on #172
@mormegil-cz yes, NC structures are extremely messy, you never know which field might be null, News app is probably too strict with "not null" assumptions and so on, which might also explain why some users have no problems. Some historical entries created by the older version of NC News backend might have different structure and more missing fields, I think I even saw a null ID field once lol

[2022-10-18 07:10] BlackLight opened #179 "Item description/content disappeared from 0.4.0"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

1. Upgrade the app to 0.4.0
2. Open an item in the list
3. Even if the item had a description/content field in the feed, that

[2022-10-18 08:19] bubelov commented on #172
I got an NC account from one of the readers and it seems to be working fine. If you know any examples of failing/problematic feeds, let me know.

<img src="https://user-images.githubusercontent.com/1189245/196375761-86aa9ad1-716a-47fd-88c1-3457fbc957fc.png" width="250" />

[2022-10-18 09:07] MarkWieczorek commented on #172
@bubelov Could you let me know what I could give you to help debug this? I'm using the lastest versions of Nextcloud and the News plugin. Everything works fine for me using the browser app and an iOS client, just not the android client.

[2022-10-18 15:34] mormegil-cz commented on #172
It seems to me the main problem is visible primarily in the initial sync?

I noticed a feed which makes a problem for the app: https://deadbeef.k47.cz/rss.xml where the issue is in the missing item urls, making the app die in the `url!!.toHttpUrl()` non-null assertion in `ItemJson.toEntry()`.

When you complete the initial sync, and only then add the feed subscription and refresh, it _mostly_ seem

[2022-10-19 00:33] BadCo-NZ commented on #179
Same issue here too

[2022-10-19 06:42] miicha opened #180 "After update to 0.4.0 credential configuration is lost"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug
1. Have 0.3.4 installed and configured (in my case miniflux)
2. Update to 0.4.0

### Actual behavior

- First configuration sc

[2022-10-19 10:38] bubelov commented on #180
https://github.com/bubelov/news/issues/172#issuecomment-1281187981

[2022-10-19 10:38] #180 closed

[2022-10-19 10:45] bubelov commented on #172
@mormegil-cz I can reproduce it with your feed, thanks for reporting!

Everyone affected: you can try the preview release and see if the issue is gone: https://github.com/bubelov/news/releases/tag/preview

[2022-10-19 16:17] mahmoudk1000 commented on #172
@bubelov I just tested it. It did not fix the problem, Still looping loading circule.

[2022-10-22 09:33] Rorschach1010 commented on #172
to bad, I have issues too. The preview apk gives me 401 error so I can't even login. The normal release seems to have lots of issues. The text is "ghosting" around, there are no external browser options, there is no setting to view newest news at the bottom. Not sure if I'm missing something here but lots of old settings got removed?? Nextcloud single-signon is also not available anymore.
Will use

[2022-10-22 13:18] bubelov commented on #172
I wouldn't hope for that, things don't appear out of nothing, and NC integration has no maintainers so it isn't expected to improve, unless someone sends a pull request. Maybe someone will volunteer to maintain NC module but my personal priorities are Miniflux and standalone mode. @mormegil-cz tracked down some issues, but it looks like some users are still having problems with NC.

[2022-10-22 13:27] Atn-D opened #181 "Ask for confirmation before marking everything as read"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

Ask for confirmation before marking everything as read

#### Why do you want this feature?

Ask for confirmation before marking everything as read

[2022-10-22 23:22] Rorschach1010 commented on #172
I see, thanks for letting us know.

[2022-10-25 06:11] mormegil-cz commented on #166
I wouldn't understand such a feature, I guess. But if I understand your request correctly, it could be solved by a functionality something I'd like to have as well: a possibility to return from an item _keeping it in the unread state_.

Web Nextcloud News has it, I think. (Or was it a different web RSS reader I used?) A "Keep unread" button/checkbox in tge item detail. It could be in the three-dot

[2022-10-25 08:48] mormegil-cz commented on #170
Are you using Nextcloud? Because AFAICT there is a severe bug in Nextcloud synchronization which prevents showing the button. However, it is partially reversed by _another_ bug which shows the button on scrolling. :-)

[2022-10-25 10:06] GuillaumeLeGoc commented on #170
Yea I'm using Nextcloud. And in fact the button appears if I'm able to scroll (which is almost never the  case), but the button does not open anything.

[2022-10-25 11:10] mormegil-cz commented on #170
Oh, right. As I said, _partially_ reversed. :-) I forgot that even then, the link action would not be set. I just pushed a PR which should hopefully fix this (after a reimport, I’m afraid).

[2022-10-26 02:48] bubelov commented on #172
Everyone affected: you can try the latest preview build and see if it works: https://github.com/bubelov/news/releases/tag/preview

It includes a few promising patches sent by @mormegil-cz, re-installing the app might be necessary

[2022-10-26 02:48] bubelov commented on #170
Everyone affected: you can try the latest preview build and see if it works: https://github.com/bubelov/news/releases/tag/preview

It includes a few promising patches sent by @mormegil-cz, re-installing the app might be necessary

[2022-10-26 06:07] #170 closed

[2022-10-26 06:08] GuillaumeLeGoc commented on #170
Yay, this release fixes the problem. Button shows up and works, nice work :)

[2022-10-26 07:05] mahmoudk1000 commented on #172
@bubelov It works fine now. 👌

[2022-10-26 09:38] bubelov commented on #172
@mahmoudk1000 cool, I'll prepare an official release

[2022-10-27 12:37] Atn-D opened #183 "add "Find in Page""
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

Add a "find in page" button to quickly find all the places where this word is written in an article

#### Why do you want this feature?

I needed it

[2022-10-28 22:23] Rorschach1010 commented on #172
Big thanks for the fixes. seems like everything works again, even listing from oldest to newest is available again. Only thing missing now is Nextcloud SSO but that is mostly just for comfort and not necessary for it to work so no priority here. like I said, big thanks for this, it's the best NC news client after all.

[2022-10-29 11:56] bubelov commented on #172
@Rorschach1010 yea, SSO was a huge PITA to maintain so I got rid of it. It makes life a bit easier for users but it has a lot of issues code-wise which stay unresolved for years. It would be nice if Nextcoud invested some resources in keeping that SSO library up do date and I'm open to adding it back if the situation improves.

[2022-10-29 12:27] Rorschach1010 commented on #172
Fair enough and in a normal case, users have to create a token once and that's it. In any case, the original issue from OP has been resolved so the issue can probably be closed.
Thanks again for the hard work.

[2022-10-29 12:48] #172 closed

[2022-11-04 13:48] gzqx commented on #179
Same. Using minflux

[2022-11-04 17:29] vivithecanine commented on #179
Same here using miniflux

[2022-11-07 12:10] nacho-domatix commented on #116
Agree. Just started to use this app and navigation/read is too slow without being able to swipe.

[2022-11-08 09:19] MGadhvi opened #184 "Preview Text not being displayed"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

### Actual behavior

None of the rss feeds displays preview text

### Expected behavior

Preview text should be displayed for

[2022-11-24 07:16] Menjuel opened #185 "Support for 2-Factor-Authentication (2FA)"
I am using nextcloud with 2fa enabled and I see no way how I can log into the app. Like other apps I tried putting my 2fa code behind my passsword seperated by a colon but that doesnt work.

I really like the app otherwise, but that a dealbraker for me :(

[2022-11-24 07:23] LeafyOtter commented on #185
In your nextcloud settings you can add an application. It will give you the credentials you need.

Settings > Security > Devices & Sessions

[2022-11-24 07:47] LeafyOtter opened #186 "Code block render."
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### What feature do you want?

Add a proper render for the block of code.

#### Why do you want this feature?

I follow a lot of technicals blogs, and often enough, they share some

[2022-11-24 12:30] bubelov commented on #185
You can always create app tokens which doesn't require 2fa, as far as I know.

[2022-11-24 12:42] bubelov commented on #186
The problem with code blocks is the fact that they are quite wide so the best formatting would require horizontal scroll (as many websites do, including [my own](https://bubelov.com/blog/2020/02/plotting-financial-data-in-python/#api-wrapper)). Line-wrapping would ruin the code and horizontal scrolling doesn't really play well with the native Android widgets. In theory, a monolithic TextView can b

[2022-11-24 13:37] LeafyOtter commented on #186
Okay, thanks for the answer :+1:

[2022-11-26 09:39] C8opmBM commented on #160
Can confirm, even if the option "mark scrolled entries as read" is checked, all scrolled news appear still as new.
I'm using the latest build.

I can't remember exactly which build, but before, this option used to work properly.